.wp-hide {
  display: none !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Lato', serif;
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #636363;
  opacity: 1;
  /* Firefox */
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #636363;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #636363;
}
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #636363;
  opacity: 1;
  /* Firefox */
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #636363;
}
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #636363;
}
i {
  font-family: FontAwesome;
}
a {
  color: black;
  text-decoration: none;
}
.primary {
  color: #3b3b3b;
}
.secondary {
  color: #6ee6e3;
}
button {
  padding: 13px 43px;
  margin-top: 29px;
  background: white;
  border: 2px solid #c8c8c8;
  cursor: pointer;
  transition: .2s;
  transition-timing-function: ease-out;
  font-size: 16px;
  font-family: 'Lato', serif;
}
button:hover {
  background: #c8c8c8;
  color: white;
}
button.load {
  border: none;
}
button.load:hover {
  background: white;
  color: black;
}
button.load i {
  margin-left: 15px;
}
.clearfix {
  clear: both;
}
.no-cursor {
  cursor: none;
}
@media (min-width: 768px) and (max-width: 1200px) {
  p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  header .menu {
    width: 720px !important;
  }
  header .menu .social .linkedin {
    margin-right: 50px !important;
  }
  .container-header {
    height: 380px !important;
  }
  .container-header .scroll-down {
    display: none;
  }
  .container-header.posts .img img {
    transform: scale(0.8);
    margin-top: -280px;
  }
  .container-header.posts .container-header-wrapper .description {
    margin-top: 65px !important;
  }
  .container-header.posts .container-header-wrapper .description img {
    display: none;
  }
  .container-header.posts .container-header-wrapper .description .blog-name {
    margin-top: 20px !important;
  }
  .container-header.description .blog-name {
    display: none !important;
  }
  .container-header.description .img {
    height: 390px !important;
  }
  .container-header.description .img img {
    transform: scale(0.8) !important;
    margin-top: -20% !important;
  }
  .container-header.description .description.primary {
    width: 600px !important;
    margin-top: 60px !important;
    padding-bottom: 30px !important;
  }
  .container-header.description .description.primary .h1 h1 {
    font-size: 36px !important;
  }
  .container-header.description .information {
    height: 45px !important;
    width: 280px !important;
  }
  .container-header.description .information hr {
    top: 22px !important;
  }
  .container-header.description .information h3 {
    font-size: 14px !important;
    line-height: 45px !important;
  }
  .container-header.contact .img img {
    transform: translate(0, -300px) !important;
  }
  .container-header.contact .description {
    padding-top: 65px !important;
  }
  .container-header.contact .description .page-name {
    margin-top: 15px !important;
  }
  .container-header.contact .description p {
    font-size: 18px !important;
  }
  .container-header .container-header-wrapper {
    width: 720px !important;
  }
  .container-header .container-header-wrapper p {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .container-header .container-header-wrapper p.first {
    margin-top: 22px !important;
  }
  .container-header .container-header-wrapper h1 {
    font-size: 40px !important;
    line-height: 45px;
  }
  .container-header .container-header-wrapper .description {
    width: 340px !important;
    margin-top: 100px !important;
  }
  .container-header .container-header-wrapper .teodora {
    left: 370px !important;
    top: -35px !important;
    height: 410px;
  }
  .container-facts .container-facts-wrapper {
    width: 720px !important;
    margin-top: 100px !important;
  }
  .container-facts .container-facts-wrapper .description {
    width: 340px !important;
    height: 260px !important;
    top: 45px !important;
    padding-left: 40px !important;
    right: 30px !important;
  }
  .container-facts .container-facts-wrapper .description p {
    margin-top: 40px !important;
    line-height: 24px !important;
    font-size: 14px !important;
  }
  .container-facts .container-facts-wrapper .fact-wrapper img {
    height: 345px !important;
  }
  .container-facts .container-facts-wrapper .mark {
    display: none !important;
  }
  .container-articles .container-articles-wrapper {
    width: 720px !important;
    padding-top: 70px !important;
  }
  .container-articles .container-articles-wrapper span {
    font-size: 18px !important;
  }
  .container-articles .container-articles-wrapper hr {
    width: 150px !important;
  }
  .container-articles .container-articles-wrapper .picture {
    overflow: hidden;
  }
  .container-articles .container-articles-wrapper .picture img {
    margin-left: -80px !important;
  }
  .container-articles .container-articles-wrapper .description {
    top: 320px !important;
    width: 520px !important;
    height: 100px !important;
    padding: 35px 30px !important;
    right: 69px !important;
  }
  .container-articles .container-articles-wrapper .description p {
    line-height: 24px !important;
    font-size: 16px !important;
    color: #5e5e5e;
  }
  .container-articles .container-articles-wrapper .short {
    padding-left: 71px;
  }
  .container-articles .container-articles-wrapper .short h2 {
    font-size: 20px !important;
  }
  .container-articles .container-articles-wrapper .short button {
    outline: none;
  }
  .container-articles .container-articles-wrapper .short button span {
    font-size: 16px !important;
  }
  .container-journey {
    height: 640px !important;
  }
  .container-journey .container-sea {
    display: none !important;
  }
  .container-journey .container-journey-wrapper {
    width: 720px !important;
    padding-top: 60px !important;
  }
  .container-journey .container-journey-wrapper h2 {
    font-size: 20px;
  }
  .container-journey .container-journey-wrapper .text {
    width: 310px;
    margin-top: 38px;
  }
  .container-journey .container-journey-wrapper .journey {
    width: 410px;
    overflow: hidden;
  }
  .container-journey .container-journey-wrapper .journey img {
    transform: scale(0.8);
    margin-left: -47px;
    margin-top: -180px;
  }
  .container-journey .container-journey-wrapper .description {
    width: 640px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    top: 400px !important;
  }
  .container-journey .container-journey-wrapper .description h2 {
    font-size: 20px !important;
  }
  .container-journey .container-journey-wrapper .description p {
    margin-top: 15px !important;
  }
  .container-instagram-story .container-instagram-story-wrapper {
    width: 720px !important;
    padding-bottom: 40px !important;
  }
  .container-instagram-story .container-instagram-story-wrapper h1 {
    font-size: 40px !important;
    line-height: 55px !important;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 {
    padding-left: 114px !important;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption hr {
    left: 250px !important;
  }
  footer .container-footer-wrapper {
    width: 720px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  footer .container-footer-wrapper .menu .logo {
    margin-right: 200px !important;
  }
  footer .container-footer-wrapper .menu .social .small a {
    margin-top: 5px !important;
  }
  .container-posts .container-posts-wrapper {
    width: 720px !important;
  }
  .container-posts .container-posts-wrapper .post.inverse .description {
    padding-left: 21px !important;
    padding-right: 0 !important;
    width: 371px !important;
  }
  .container-posts .container-posts-wrapper .post.inverse .description .created {
    padding-right: 45px !important;
  }
  .container-posts .container-posts-wrapper .post.inverse .description .created hr {
    right: 5px !important;
  }
  .container-posts .container-posts-wrapper .post .description {
    padding-right: 35px !important;
    padding-top: 15px !important;
  }
  .container-posts .container-posts-wrapper .post .description .created {
    padding-bottom: 20px !important;
    font-size: 13px !important;
  }
  .container-posts .container-posts-wrapper .post .description .created hr {
    top: -1px !important;
  }
  .container-posts .container-posts-wrapper .post .picture {
    width: 349px !important;
    height: 275px !important;
  }
  .container-posts .container-posts-wrapper .post .picture:before {
    z-index: 1;
    left: 165px !important;
    width: 20px !important;
  }
  .container-posts .container-posts-wrapper .post .picture img {
    transform: scale(0.7) !important;
    margin-left: -35% !important;
    margin-top: -26% !important;
  }
  .container-posts .container-posts-wrapper .pagination {
    padding-top: 5px !important;
    margin-bottom: 55px !important;
  }
  .container-newsletter {
    padding-top: 155px !important;
    background-position: top !important;
  }
  .container-newsletter h2 {
    font-size: 20px !important;
  }
  .container-newsletter span {
    font-size: 16px !important;
  }
  .container-newsletter .container-newsletter-wrapper {
    width: 520px !important;
    height: 350px !important;
  }
  .container-newsletter .container-newsletter-wrapper form {
    width: 300px !important;
    padding-left: 110px !important;
  }
  .container-newsletter .container-newsletter-wrapper form input[type="text"] {
    width: 100% !important;
    margin-top: 15px !important;
  }
  .container-newsletter .container-newsletter-wrapper form input[type="email"] {
    width: 100% !important;
    margin-top: 5px !important;
  }
  .container-content .container-content-wrapper {
    width: 720px !important;
    margin-top: 80px !important;
  }
  .container-content .container-content-wrapper .text-wrapper {
    width: 720px !important;
  }
  .container-content .container-content-wrapper .text-wrapper p {
    margin-bottom: 22px !important;
    font-size: 16px !important;
  }
  .container-content .container-content-wrapper .also-posts-wrapper {
    display: none !important;
  }
  .container-content .container-content-wrapper .comment-wrapper {
    width: 720px !important;
    height: fit-content !important;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form input {
    width: 300px !important;
    margin-right: 45px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form textarea {
    width: 645px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper h3 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper .share {
    display: block;
    position: relative !important;
    padding-left: 0 !important;
    float: left !important;
    width: 100% !important;
    margin-bottom: 50px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper .share button {
    position: relative;
    margin-top: -13px !important;
    border: none !important;
  }
  .container-content .container-content-wrapper .comment-wrapper .share button:hover {
    background: white !important;
    color: black !important;
  }
  .container-content .container-content-wrapper .comment-wrapper .share button img {
    height: 18px !important;
    position: absolute !important;
    left: 190px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper form input {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="text"] {
    margin-top: 5px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"] {
    width: 200px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination {
    padding-top: 0px !important;
    margin-bottom: 40px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list {
    text-align: center !important;
  }
  .container-content .container-content-wrapper .background-wrapper img.background {
    margin-top: -85px !important;
    transform: scale(0.74);
  }
  .container-content .container-content-wrapper .newsletter-background {
    position: relative;
  }
  .container-content .container-content-wrapper .newsletter-background .container-newsletter-wrapper {
    width: 480px !important;
    height: 277px;
    padding-top: 25px !important;
    left: 0 !important;
    top: -360px !important;
    text-align: left !important;
    padding-left: 50px !important;
  }
  .container-content .container-content-wrapper .newsletter-background .container-newsletter-wrapper h2 {
    font-size: 20px !important;
  }
  .container-content .container-content-wrapper .newsletter-background .container-newsletter-wrapper span {
    font-size: 16px !important;
  }
  .container-content .container-content-wrapper .newsletter-background .container-newsletter-wrapper form {
    padding-left: 0 !important;
  }
  .container-content .container-content-wrapper .newsletter-background .container-newsletter-wrapper form input {
    width: 80% !important;
    margin-top: 6px !important;
  }
}
@media (min-width: 768px) {
  .target-burger {
    display: none;
  }
  h1 {
    display: inline;
    line-height: 93px;
    font-size: 59px;
    font-weight: bold;
  }
  h1.big {
    line-height: 107px;
  }
  h2 {
    display: inline;
    font-size: 15px;
  }
  header {
    position: relative;
    font-size: 16px;
  }
  header .menu {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
  }
  header .menu a {
    color: black;
    text-decoration: none;
  }
  header .menu > :first-child {
    margin-right: 35px;
  }
  header .menu ul {
    display: inline;
  }
  header .menu ul li {
    position: relative;
    display: inline;
    margin-right: 50px;
    line-height: 21px;
  }
  header .menu ul li span {
    font-weight: 400;
  }
  header .menu ul li:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #000;
    top: 22px;
    transition: .3s;
  }
  header .menu ul li:hover:before {
    width: 100%;
  }
  header .menu .logo {
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 800;
  }
  header .menu .social {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  header .menu .social i {
    margin-left: 10px;
    font-size: 20px;
  }
  header .menu .social li.linkedin {
    margin-right: 120px;
  }
  header .menu .social li.linkedin:hover:before {
    width: 85px;
  }
  header .menu .social li.linkedin i {
    position: absolute;
    font-size: 15px;
    top: -1px;
  }
  header .header-line {
    position: absolute;
    width: 100%;
    height: 76px;
    background: white;
  }
  header span {
    font-weight: 800;
  }
  .container-header {
    position: relative;
    height: 613px;
  }
  .container-header.posts {
    position: relative;
    width: 100%;
    height: 705px;
    margin: 0 auto;
    padding-top: 1px;
    margin-top: 29px;
  }
  .container-header.posts .img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .container-header.posts .img img {
    margin-left: -960px;
    top: 0;
    left: auto;
    opacity: 1;
  }
  .container-header.posts .scroll-down {
    position: absolute;
    left: 850px;
    top: 290px;
    z-index: 10;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
  }
  .container-header.posts .scroll-down:hover {
    opacity: 1;
  }
  .container-header.posts .description {
    margin-top: 157px !important;
    width: 550px !important;
  }
  .container-header.posts .primary,
  .container-header.posts .devider {
    color: #1C2A28 !important;
  }
  .container-header.posts h2 {
    color: #F6FBFC;
  }
  .container-header.posts h1 {
    font-size: 64px;
    color: #F2F7F6;
  }
  .container-header.contact {
    height: 705px;
  }
  .container-header.contact .img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .container-header.contact .img img {
    margin-left: -960px;
    top: 0;
    left: auto;
    opacity: 1;
  }
  .container-header.contact .description {
    position: relative;
    margin-top: 30px !important;
    width: 550px !important;
    padding-top: 126px;
  }
  .container-header.contact .primary,
  .container-header.contact .devider {
    color: #1C2A28 !important;
  }
  .container-header.contact h2 {
    color: #F6FBFC;
    font-size: 16px;
  }
  .container-header.contact h2.primary {
    color: #292929 !important;
  }
  .container-header.contact h1 {
    font-size: 64px;
    color: #F2F7F6;
  }
  .container-header.contact h1.primary {
    color: #292929 !important;
  }
  .container-header.contact h1.secondary {
    color: #f0f7fa !important;
  }
  .container-header.contact p {
    width: 410px;
    color: #f0f7fa;
    margin-top: 15px;
    font-size: 20px !important;
    line-height: 27px !important;
  }
  .container-header.description {
    margin-top: 30px;
    height: 705px;
  }
  .container-header.description .img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .container-header.description .img img {
    margin-left: -960px;
    top: 0;
    left: auto;
    opacity: 1;
  }
  .container-header.description .container-header-wrapper {
    padding-top: 1px;
  }
  .container-header.description .description {
    width: 922px !important;
    margin-top: 127px !important;
    padding-bottom: 55px;
    background: white;
  }
  .container-header.description .description .primary,
  .container-header.description .description .secondary {
    text-transform: none;
  }
  .container-header.description .description .primary {
    line-height: 48px;
    color: #585858 !important;
  }
  .container-header.description .description .secondary {
    color: #80E9E6;
  }
  .container-header.description .description h2 {
    color: #3A3A3A;
  }
  .container-header.description .description h1 {
    font-size: 64px;
  }
  .container-header.description .information {
    position: relative;
    margin-top: 15px;
    width: 395px;
    padding-left: 47px;
    background: #c5e8ee;
    opacity: 0.9;
  }
  .container-header.description .information hr {
    position: absolute;
    top: 27px;
    left: 0px;
    width: 37px;
    height: 2px;
    background: #636363;
    border: none;
    opacity: .4;
    margin: 0;
  }
  .container-header.description .information h3 {
    display: inline;
    line-height: 55px;
  }
  .container-header.description .information h3.secondary {
    color: #636363;
  }
  .container-header.description .primary,
  .container-header.description .devider {
    color: #1C2A28 !important;
  }
  .container-header.description h2 {
    color: #F6FBFC;
  }
  .container-header.description h1 {
    color: #F2F7F6;
  }
  .container-header .container-header-wrapper {
    position: relative;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding-top: 0px;
    z-index: 12;
  }
  .container-header .container-header-wrapper h2 {
    text-transform: none;
  }
  .container-header .container-header-wrapper p {
    line-height: 32px;
  }
  .container-header .container-header-wrapper p.first {
    margin-top: 50px;
  }
  .container-header .container-header-wrapper ul {
    display: inline;
  }
  .container-header .container-header-wrapper ul li {
    position: relative;
    display: inline;
    margin-right: 50px;
    line-height: 21px;
  }
  .container-header .container-header-wrapper ul li span {
    font-weight: 400;
  }
  .container-header .container-header-wrapper ul li:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #000;
    top: 22px;
    transition: .3s;
  }
  .container-header .container-header-wrapper ul li:hover:before {
    width: 100%;
  }
  .container-header .container-header-wrapper a {
    color: black;
    text-decoration: none;
  }
  .container-header .container-header-wrapper .description {
    width: 530px;
    margin-top: 147px;
    text-transform: uppercase;
  }
  .container-header .container-header-wrapper .description .devider {
    position: relative;
    font-weight: bold;
  }
  .container-header .container-header-wrapper .description .devider:after {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    display: block;
    width: 11px;
    height: 2px;
    background: #1C2A28;
    opacity: .8;
  }
  .container-header .container-header-wrapper .description .scroll {
    position: absolute;
    margin-bottom: 22px;
    bottom: 0;
  }
  .container-header h1 {
    margin-bottom: 20px;
  }
  .container-header p {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 18px;
  }
  .container-header p b {
    font-weight: bold;
  }
  .container-header img {
    position: absolute;
    left: 770px;
    top: 455px;
    cursor: pointer;
    z-index: 10;
    opacity: .8;
    transition: .4s;
  }
  .container-header img:hover {
    opacity: 1;
  }
  .container-header img.teodora {
    opacity: 1;
    left: 602px;
    top: -117px;
  }
  .container-header img.teodora-mobile {
    display: none;
  }
  .container-content {
    position: relative;
    font-size: 17px;
    margin-bottom: -39px;
  }
  .container-content .container-content-wrapper {
    position: relative;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    margin-top: 90px;
  }
  .container-content .container-content-wrapper img.background {
    margin-top: -80px !important;
    float: right;
  }
  .container-content .container-content-wrapper .mobile {
    display: none;
  }
  .container-content .container-content-wrapper .text-wrapper {
    width: 925px;
    color: #5e5e5e;
  }
  .container-content .container-content-wrapper .text-wrapper p {
    line-height: 32px;
    margin-bottom: 32px;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper {
    position: absolute;
    top: 470px;
    left: 250px;
    width: 714px;
    height: 244px;
    padding-top: 41px;
    box-sizing: border-box;
    background: white;
    text-align: center;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper h2 {
    font-size: 22px;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper span {
    font-size: 18px;
    line-height: 36px;
    color: #5e5e5e;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper form {
    padding-left: 85px;
    font-family: 'Lato', serif;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper form input {
    float: left !important;
    margin-top: 31px !important;
    width: 140px;
    margin-right: 32px;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    font-family: 'Lato', serif;
    font-size: 14px;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper form button {
    float: left !important;
    padding: 13px 53px !important;
    margin-top: 32px !important;
  }
  .container-content .container-content-wrapper .comment-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    width: 690px;
    height: 440px;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact h3 {
    margin-bottom: 30px;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form :nth-child(2) {
    margin-left: 26px;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form :nth-child(3) {
    margin-left: 0;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form p {
    margin-top: 27px;
    font-size: 14px;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form textarea {
    height: 135px;
    border: 1px solid #d8d8d8;
    margin-top: 14px;
    box-sizing: border-box;
    font-size: 14px;
    border-left: none;
    border-top: none;
    border-right: none;
    height: 35px;
  }
  .container-content .container-content-wrapper .comment-wrapper.contact form input[type="submit"] {
    width: 208px;
    margin-top: 21px;
  }
  .container-content .container-content-wrapper .comment-wrapper .share {
    position: absolute;
    width: 100%;
    padding-left: 445px;
    top: 4px;
    font-size: 16px;
  }
  .container-content .container-content-wrapper .comment-wrapper .share span {
    float: left;
    margin-right: 30px;
  }
  .container-content .container-content-wrapper .comment-wrapper .share a {
    text-decoration: none;
    color: #000;
  }
  .container-content .container-content-wrapper .comment-wrapper .share a.linkedin {
    float: left;
    margin-top: -1px;
    margin-right: 16px;
  }
  .container-content .container-content-wrapper .comment-wrapper .share a.instagram {
    float: left;
    margin-right: -13px;
  }
  .container-content .container-content-wrapper .comment-wrapper .share a i.fa-instagram {
    font-size: 20px;
  }
  .container-content .container-content-wrapper .comment-wrapper .share a i.fa-linkedin {
    font-size: 15px;
  }
  .container-content .container-content-wrapper .comment-wrapper form :nth-child(3) {
    margin-left: 26px;
  }
  .container-content .container-content-wrapper .comment-wrapper form textarea {
    width: 100%;
    padding: 0;
    margin-top: 33px;
    resize: none;
    height: 32px;
    line-height: 26px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    outline: none;
    font-size: 14px;
    font-family: Lato;
  }
  .container-content .container-content-wrapper .comment-wrapper form input {
    width: 330px;
    height: 34px;
    line-height: 34px;
    margin-top: 11px;
    border: none;
    border-bottom: 1px solid #ececec;
    outline: none;
    font-size: 14px;
    font-family: Lato;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"] {
    margin-top: 38px;
    margin-bottom: 80px;
    height: 45px;
    line-height: 40px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    border: 2px solid #c8c8c8;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-out;
    font-weight: 400;
    font-size: 16px;
    font-family: Lato;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"]:hover {
    background: #c8c8c8;
    color: white;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"].load {
    border: none;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"].load:hover {
    background: white;
    color: black;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"].load i {
    margin-left: 15px;
  }
  .container-content .container-content-wrapper .comment-wrapper h3 {
    font-size: 22px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments {
    position: relative;
    padding-top: 48px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .arrows {
    position: absolute;
    width: 100%;
    text-align: right;
    top: -22px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .arrows img {
    height: 20px;
    cursor: pointer;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .item {
    width: 100%;
    height: 132px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .item .avatar {
    display: inline-block;
    float: left;
    width: 79px;
    height: 79px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .item .text {
    display: inline-block;
    float: left;
    width: 610px;
    padding-top: 8px;
    padding-left: 23px;
    box-sizing: border-box;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .item h4 {
    margin-bottom: 11px;
    font-size: 14px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .item p {
    line-height: 32px;
    font-size: 16px;
    color: #5e5e5e;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list {
    width: 100%;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list {
    box-sizing: border-box;
    text-align: right;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list ul {
    display: inline;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list ul li {
    display: inline;
    margin-right: 14px;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list ul li:last-child {
    margin-right: 0;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list ul li a {
    color: #3b3b3b;
    text-decoration: none;
    font-size: 16px;
  }
  .container-content .container-content-wrapper .comment-wrapper .pagination .list ul li a:hover {
    text-decoration: underline;
  }
  .container-content .container-content-wrapper .also-posts-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    width: 387px;
    margin-left: 123px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper hr {
    position: absolute;
    top: 390px;
    left: 0px;
    width: 35px;
    height: 2px;
    background: #636363;
    border: none;
    opacity: .4;
  }
  .container-content .container-content-wrapper .also-posts-wrapper h3 {
    margin-bottom: 42px;
    font-size: 22px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper .not-exist-comments .picture:before {
    content: none;
  }
  .container-content .container-content-wrapper .also-posts-wrapper .not-exist-comments h3 {
    display: inline;
    float: left;
  }
  .container-content .container-content-wrapper .also-posts-wrapper .not-exist-comments .arrow {
    height: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper .picture {
    position: relative;
    margin-bottom: 15px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper .picture:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 17px;
    background: white;
    left: 181px;
    top: 0;
  }
  .container-content .container-content-wrapper .also-posts-wrapper .picture img {
    width: 100%;
  }
  .container-content .container-content-wrapper .also-posts-wrapper span {
    font-size: 22px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper h4 {
    padding-left: 54px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #5e5e5e;
  }
  .container-content .container-content-wrapper .also-posts-wrapper p {
    margin-top: 19px;
    font-size: 18px;
    color: #5e5e5e;
    line-height: 32px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper button {
    font-weight: 400;
    margin-top: 22px;
    float: left;
  }
  .container-content .container-content-wrapper .also-posts-wrapper button.load {
    padding-left: 17px;
    padding-top: 14px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper button.load span {
    float: left;
    font-size: 16px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper button.load img {
    float: left;
    height: 18px;
    margin-left: 26px;
    margin-top: 2px;
  }
  .container-facts {
    position: relative;
    font-size: 17px;
    margin-top: -25px;
  }
  .container-facts .container-facts-wrapper {
    position: relative;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    margin-top: 125px;
  }
  .container-facts .container-facts-wrapper .description {
    position: absolute;
    height: 330px;
    width: 715px;
    top: 60px;
    right: 0;
    padding-left: 85px;
    background: white;
  }
  .container-facts .container-facts-wrapper .description p {
    margin-top: 88px;
    line-height: 32px;
  }
  .container-facts .container-facts-wrapper .mark {
    position: absolute;
    right: 0;
    top: 60px;
    height: 21px;
  }
  .container-posts {
    position: relative;
    font-size: 18px;
  }
  .container-posts h2 {
    font-size: 22px;
    font-weight: 500;
    color: #000;
  }
  .container-posts p {
    margin-top: 20px;
    line-height: 32px;
    color: #5e5e5e;
  }
  .container-posts .container-posts-wrapper {
    position: relative;
    padding-top: 62px;
    width: 1200px;
    margin: 0 auto;
  }
  .container-posts .container-posts-wrapper .post {
    margin-bottom: 59px;
  }
  .container-posts .container-posts-wrapper .post.inverse .description {
    padding-left: 90px;
    padding-right: 25px;
  }
  .container-posts .container-posts-wrapper .post.inverse .picture {
    margin-left: 0;
  }
  .container-posts .container-posts-wrapper .post .description {
    display: inline-block;
    padding-top: 82px;
    padding-right: 115px;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .container-posts .container-posts-wrapper .post .description .created {
    position: relative;
    text-align: right;
    font-size: 16px;
    padding-bottom: 35px;
    padding-right: 35px;
    color: #636363;
  }
  .container-posts .container-posts-wrapper .post .description .created hr {
    position: absolute;
    top: 1px;
    right: -12px;
    width: 35px;
    height: 2px;
    background: #636363;
    border: none;
    opacity: .4;
  }
  .container-posts .container-posts-wrapper .post .description button {
    margin-top: 22px;
  }
  .container-posts .container-posts-wrapper .post .description button:hover {
    background: #6ee6e3;
    border-color: #6ee6e3;
  }
  .container-posts .container-posts-wrapper .post .picture {
    position: relative;
    display: inline-block;
    width: 589px;
    height: 459px;
    margin-left: 11px;
    float: left;
    overflow: hidden;
  }
  .container-posts .container-posts-wrapper .post .picture:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 25px;
    background: white;
    left: 281px;
    top: 0;
  }
  .container-posts .container-posts-wrapper .pagination {
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .container-posts .container-posts-wrapper .pagination .list,
  .container-posts .container-posts-wrapper .pagination .loading {
    display: inline-block;
    float: left;
    width: 50%;
  }
  .container-posts .container-posts-wrapper .pagination .list {
    padding-right: 32px;
    box-sizing: border-box;
    text-align: right;
  }
  .container-posts .container-posts-wrapper .pagination .list ul {
    display: inline;
  }
  .container-posts .container-posts-wrapper .pagination .list ul li {
    display: inline;
    margin-right: 14px;
  }
  .container-posts .container-posts-wrapper .pagination .list ul li:last-child {
    margin-right: 0;
  }
  .container-posts .container-posts-wrapper .pagination .list ul li a {
    color: #3b3b3b;
    text-decoration: none;
    font-size: 16px;
  }
  .container-posts .container-posts-wrapper .pagination .list ul li a:hover {
    text-decoration: underline;
  }
  .container-posts .container-posts-wrapper .pagination .loading button {
    font-weight: 400;
    margin-top: -11px;
    float: left;
  }
  .container-posts .container-posts-wrapper .pagination .loading button.load {
    margin-left: 16px;
    padding-left: 10px;
    padding-top: 0;
  }
  .container-posts .container-posts-wrapper .pagination .loading button.load span {
    float: left;
    font-size: 16px;
    font-style: initial;
    padding-top: 13px;
  }
  .container-posts .container-posts-wrapper .pagination .loading button.load img {
    float: left;
    height: 18px;
    margin-left: 24px;
    margin-top: 14px;
  }
  .container-newsletter {
    position: relative;
    height: 444px;
    margin-bottom: 7px;
    padding-top: 96px;
    box-sizing: border-box;
    font-size: 16px;
    background: url("../images/Posts/newsletter.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
  }
  .container-newsletter .container-newsletter-wrapper {
    width: 714px;
    height: 244px;
    margin: 0 auto;
    padding-top: 41px;
    box-sizing: border-box;
    background: white;
    text-align: center;
  }
  .container-newsletter .container-newsletter-wrapper h2 {
    font-size: 22px;
  }
  .container-newsletter .container-newsletter-wrapper span {
    font-size: 18px;
    line-height: 36px;
    color: #5e5e5e;
  }
  .container-newsletter .container-newsletter-wrapper form {
    padding-left: 85px;
    font-family: 'Lato', serif;
  }
  .container-newsletter .container-newsletter-wrapper form input {
    float: left !important;
    margin-top: 31px !important;
    width: 140px;
    margin-right: 32px;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    font-family: 'Lato', serif;
    font-size: 14px;
  }
  .container-newsletter .container-newsletter-wrapper form button {
    float: left !important;
    padding: 13px 53px !important;
    margin-top: 32px !important;
  }
  .container-instagram-story {
    position: relative;
  }
  .container-instagram-story .container-instagram-story-wrapper {
    position: relative;
    width: 1200px;
    background: white;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 59px;
    text-align: center;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption {
    width: 594px;
    margin: 0 auto;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption h1 {
    line-height: 93px;
    font-size: 64px;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 {
    padding-left: 5px;
    text-align: left;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 h2 {
    text-transform: uppercase;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 hr {
    position: absolute;
    top: 67px;
    left: 380px;
    width: 55px;
    height: 2px;
    background: #6a6a6a;
    border: none;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption h1 {
    text-transform: uppercase;
  }
  .instagram-carousel .item {
    width: 387px !important;
    height: 355px !important;
    overflow: hidden;
  }
  .container-articles {
    position: relative;
    font-size: 17px;
  }
  .container-articles .container-articles-wrapper {
    position: relative;
    width: 1200px;
    background: white;
    margin: 0 auto;
    padding-top: 150px;
  }
  .container-articles .container-articles-wrapper .picture {
    width: 100%;
    height: 351px;
  }
  .container-articles .container-articles-wrapper .short {
    width: 550px;
    padding-top: 65px;
  }
  .container-articles .container-articles-wrapper .short h2 {
    font-size: 22px;
  }
  .container-articles .container-articles-wrapper .short p {
    margin-top: 15px;
    line-height: 32px;
  }
  .container-articles .container-articles-wrapper .short button {
    font-weight: 400;
    margin-top: 27px;
    float: left;
  }
  .container-articles .container-articles-wrapper .short button.load {
    margin-left: 16px;
    padding-left: 19px;
    padding-top: 15px;
  }
  .container-articles .container-articles-wrapper .short button.load span {
    float: left;
    font-size: 16px;
    font-style: initial;
    padding-top: 13px;
  }
  .container-articles .container-articles-wrapper .short button.load img {
    float: left;
    height: 18px;
    margin-left: 24px;
    margin-top: 2px;
  }
  .container-articles .container-articles-wrapper .description {
    position: absolute;
    top: 455px;
    right: 0;
    width: 580px;
    height: 300px;
    line-height: 32px;
    padding: 61px 0 0 68px;
    background: white;
  }
  .container-articles .container-articles-wrapper hr {
    position: relative;
    margin: 0 19px 45px 0;
    width: 286px;
    height: 2px;
    background: #cecece;
    float: left;
    border: none;
  }
  .container-articles .container-articles-wrapper span {
    float: left;
    margin-top: -13px;
    font-style: italic;
    font-size: 20px;
  }
  .container-journey {
    position: relative;
    height: 944px;
    font-size: 17px;
  }
  .container-journey .container-sea {
    position: absolute;
    height: 665px;
    width: 100%;
    top: 385px;
    left: -250px;
    background: url(../images/journey/sea.png);
    background-repeat: no-repeat;
  }
  .container-journey .container-journey-wrapper {
    position: relative;
    width: 830px;
    background: white;
    margin: 0 auto;
    padding-top: 110px;
  }
  .container-journey .container-journey-wrapper .text,
  .container-journey .container-journey-wrapper .journey {
    display: inline-block;
    float: left;
  }
  .container-journey .container-journey-wrapper .journey img {
    margin-top: -183px;
  }
  .container-journey .container-journey-wrapper .description {
    position: absolute;
    top: 430px;
    left: 0;
    width: 500px;
    padding-top: 56px;
    padding-bottom: 60px;
    padding-left: 65px;
    padding-right: 80px;
    background: white;
  }
  .container-journey .container-journey-wrapper .description h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .container-journey .container-journey-wrapper .description p {
    margin-top: 20px;
    font-size: 17px;
    line-height: 32px;
  }
  .container-journey .container-journey-wrapper .description button {
    font-weight: 400;
    margin-top: 27px;
    float: left;
  }
  .container-journey .container-journey-wrapper .description button.load {
    margin-left: 16px;
    padding-left: 19px;
    padding-top: 15px;
  }
  .container-journey .container-journey-wrapper .description button.load span {
    float: left;
    font-size: 16px;
    font-style: initial;
  }
  .container-journey .container-journey-wrapper .description button.load img {
    float: left;
    height: 18px;
    margin-left: 24px;
    margin-top: 2px;
  }
  .container-footer {
    position: relative;
    font-size: 16px;
  }
  .container-footer .container-footer-wrapper {
    position: relative;
    width: 1200px;
    background: white;
    margin: 0 auto;
    padding-top: 93px;
    padding-bottom: 63px;
  }
  .container-footer .container-footer-wrapper ul {
    display: inline;
  }
  .container-footer .container-footer-wrapper ul li {
    position: relative;
    display: inline;
    margin-right: 55px;
  }
  .container-footer .container-footer-wrapper ul li:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    top: 22px;
    background: #000;
    transition: .3s;
  }
  .container-footer .container-footer-wrapper ul li:hover:before {
    width: 100%;
  }
  .container-footer .container-footer-wrapper a {
    color: black;
    text-decoration: none;
  }
  .container-footer .container-footer-wrapper a.logo {
    font-size: 18px;
    font-weight: 800 !important;
  }
  .container-footer .container-footer-wrapper .menu {
    position: relative;
  }
  .container-footer .container-footer-wrapper .menu > :first-child {
    margin-right: 432px;
    font-weight: bold;
  }
  .container-footer .container-footer-wrapper .menu .social {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  .container-footer .container-footer-wrapper .menu .social i {
    margin-left: 10px;
    font-size: 20px;
  }
  .container-footer .container-footer-wrapper .menu .social li {
    margin-right: 10px;
  }
  .container-footer .container-footer-wrapper .menu .social li :hover {
    text-decoration: none;
  }
  .container-footer .container-footer-wrapper .menu .social li.small a {
    float: left;
    margin-top: 2px;
  }
  .container-footer .container-footer-wrapper .menu .social li.big a {
    float: right;
    margin-top: 3px;
  }
  .container-footer .container-footer-wrapper .menu .social li .fa-linkedin {
    font-size: 15px;
  }
  .owl-carousel .owl-item img {
    transform: scale(1.1);
    transition: .4s;
    transition-timing-function: ease-out;
  }
  .owl-carousel .owl-item img:hover {
    transform: scale(1.2);
  }
}
@media (max-width: 767px) {
  /*! normalize.css v1.0.0 | MIT License | git.io/normalize */
  /* =============================================================================
     HTML5 display definitions
     ========================================================================== */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  audio:not([controls]) {
    display: none;
  }
  [hidden] {
    display: none;
  }
  /* =============================================================================
     Base
     ========================================================================== */
  /*
   * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
   * 2. Force vertical scrollbar in non-IE
   * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
   */
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    font-size: 12px !important;
  }
  html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button {
    height: 35px !important;
    font-size: 12px !important;
    line-height: 3px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  input[type=button],
  input[type=submit],
  input[type=text],
  input[type=search],
  input[type=password],
  select,
  button,
  textarea {
    margin: 0;
    cursor: pointer;
    outline: none;
    vertical-align: top;
  }
  input[type=submit] {
    border: none 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  input[type=radio],
  input[type=checkbox] {
    margin: 0;
    padding: 0;
  }
  input[type=text],
  input[type=search],
  select,
  textarea {
    cursor: default;
  }
  *:first-child + html input.button {
    overflow: visible;
    /* remove padding from left/right */
    width: auto !important;
  }
  /*
   * Remove text-shadow in selection highlight: h5bp.com/i
   * These selection declarations have to be separate
   * Also: hot pink! (or customize the background color to match your design)
   */
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  a:hover,
  a:active {
    outline: 0;
    text-decoration: none;
  }
  /* =============================================================================
     Typography
     ========================================================================== */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  blockquote {
    margin: 1em 40px;
  }
  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  /* =============================================================================
     Lists
     ========================================================================== */
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  dd {
    margin: 0 0 0 40px;
  }
  nav ul,
  nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* =============================================================================
     Embedded content
     ========================================================================== */
  /*
   * Improve image quality when scaled in IE7
   * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
   */
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
  /*
   * Correct overflow displayed oddly in IE9
   */
  svg:not(:root) {
    overflow: hidden;
  }
  /* =============================================================================
     Figures
     ========================================================================== */
  figure {
    margin: 0;
  }
  /* =============================================================================
     Forms
     ========================================================================== */
  form {
    margin: 0;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  /* Indicate that 'label' will shift focus to the associated form element */
  label {
    cursor: pointer;
  }
  /*
   * 1. Correct color not inheriting in IE6/7/8/9
   * 2. Correct alignment displayed oddly in IE6/7
   */
  legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
  }
  /*
   * 1. Correct font-size not inheriting in all browsers
   * 2. Remove margins in FF3/4 S5 Chrome
   * 3. Define consistent vertical alignment display in all browsers
   */
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  /* Select styling in Firefox */
  @-moz-document url-prefix() {
    select {
      padding: 0.8em 0.75em;
    }
  }
  /*
   * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
   */
  button,
  input {
    line-height: normal;
  }
  *:first-child + html input.button {
    overflow: visible;
    /* remove padding from left/right */
    width: auto !important;
  }
  /*
   * 1. Display hand cursor for clickable form elements
   * 2. Allow styling of clickable form elements in iOS
   * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
   */
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
  }
  input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  /*
   * Consistent box sizing and appearance
   */
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0;
    padding: 0;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  /*
   * Remove inner padding and border in FF3/4: h5bp.com/l
   */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  /*
   * 1. Remove default vertical scrollbar in IE6/7/8/9
   * 2. Allow only vertical resizing
   */
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
  }
  /* Colors for form validity */
  input:invalid,
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* =============================================================================
     Non-semantic helper classes
     Please define your styles before this section.
     ========================================================================== */
  /* Hide from both screenreaders and browsers: h5bp.com/u */
  .hidden {
    display: none !important;
    visibility: hidden;
  }
  /* Hide only visually, but have it available for screenreaders: h5bp.com/v */
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
  /* Hide visually and from screenreaders, but maintain layout */
  .invisible {
    visibility: hidden;
  }
  /* Contain floats: h5bp.com/q */
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    *zoom: 1;
  }
  /* #Typography Variables
  ================================================== */
  /* #Colour Variables
  ================================================== */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2.350em;
    line-height: 1.25;
    font-weight: 300;
  }
  p {
    font-size: 13px !important;
  }
  /* =============================================================================
     Layout
     ========================================================================== */
  body {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    color: #5e5e5e;
    line-height: 1.6;
    font-weight: normal;
  }
  .container {
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .container.toggled {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 0;
    width: 100%;
    padding: 5em 2em;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #6ee6e3;
  }
  .main-nav li {
    display: none;
    text-align: center;
    font-size: 25px;
    line-height: 65px;
  }
  .main-nav li a {
    color: white;
    font-family: Lato;
    font-size: 25px;
  }
  .main-nav.toggled {
    position: fixed;
    display: block;
    height: 100%;
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .main-nav.toggled li {
    display: block;
  }
  .main-nav ul {
    padding: 2em 0 0 0;
  }
  .main-nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .main-nav ul li a {
    font-size: 1.250em;
    color: #fff;
    padding: 1em 0;
    font-weight: 300;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .main-nav ul li a:last-child {
    border: none;
  }
  .main-nav ul li a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 1em;
  }
  header a.target-burger {
    width: 25px;
    height: 27px;
    position: absolute;
    display: block;
    top: 15px;
    left: 23px;
    z-index: 11;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header a.target-burger:hover {
    cursor: pointer;
  }
  header a.target-burger.toggled ul.buns li.bun {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    background: white;
  }
  header a.target-burger.toggled ul.buns li.bun:first-child {
    opacity: 0;
  }
  header a.target-burger.toggled ul.buns li.bun:last-child {
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
  }
  header a.target-burger ul.buns {
    width: 1.625em;
    height: 1.625em;
    list-style: none;
    margin: -0.8125em 0 0 -0.8125em;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #fff;
  }
  header a.target-burger ul.buns li.bun {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  header a.target-burger ul.buns li.bun:first-child {
    top: 3px;
  }
  header a.target-burger ul.buns li.bun:last-child {
    -webkit-transform: translateY(3.75px) translateZ(0);
    transform: translateY(3.75px) translateZ(0);
  }
  div.app-content {
    position: relative;
    z-index: 5;
  }
  div.app-content ul.content-list li article figure {
    position: relative;
  }
  div.app-content ul.content-list li article figure:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }
  div.app-content ul.content-list li article figure img {
    width: 100%;
    line-height: 1;
    display: block;
  }
  div.app-content ul.content-list li article figure figcaption {
    color: #fff;
    position: absolute;
    z-index: 5;
    bottom: 0;
    padding: 2em 2em 2.5em 2em;
  }
  div.app-content ul.content-list li article figure figcaption h1,
  div.app-content ul.content-list li article figure figcaption span {
    -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  div.app-content ul.content-list li article figure figcaption h1 {
    padding: 0 0 0.25em 0 ;
    margin: 0 0 0.25em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  div.app-content ul.content-list li article figure figcaption span {
    font-family: 'Montserrat', sans-serif;
    display: block;
  }
  div.app-content ul.content-list li article figure figcaption span.category {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 0 0.3em;
    color: rgba(255, 255, 255, 0.7);
  }
  div.app-content ul.content-list li article figure figcaption span.price {
    font-size: 1.3em;
    float: right;
  }
  /* =============================================================================
     Mixins & Functions
     ========================================================================== */
  .inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  header .blog-name {
    position: absolute;
    left: 70px;
    top: 12px;
  }
  header .blog-name h1 {
    display: inline;
    font-weight: bold;
    text-transform: uppercase !important;
    font-size: 22px;
  }
  header .menu {
    height: 65px;
  }
  header .menu .logo {
    display: none;
  }
  header .menu .social li span {
    display: none;
  }
  header .menu .social li .fa-linkedin {
    position: absolute;
    right: 60px;
    top: 17px;
  }
  header .menu .social li .fa-instagram {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 15px;
  }
  .container-header {
    margin-top: -10px;
  }
  .container-header.posts {
    height: 20px;
  }
  .container-header.posts .img {
    display: none;
  }
  .container-header.posts .description {
    text-align: center;
  }
  .container-header.posts .description h2 {
    display: inline;
  }
  .container-header.posts img {
    display: none;
  }
  .container-header.posts .description {
    margin-bottom: 30px;
  }
  .container-header.contact {
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-header.contact .img {
    display: none;
  }
  .container-header.contact img {
    display: none;
  }
  .container-header.contact .description {
    text-align: center;
    margin-bottom: 30px;
  }
  .container-header.contact .description p {
    margin-top: 10px;
    font-size: 15px !important;
  }
  .container-header.contact .description h2 {
    display: inline;
  }
  .container-header.description {
    display: flex;
    flex-direction: column;
  }
  .container-header.description h3 {
    display: inline;
  }
  .container-header.description .information {
    position: absolute;
    margin-top: 275px;
    width: 100%;
    text-align: center;
  }
  .container-header.description .information .secondary {
    color: #5e5e5e;
  }
  .container-header.description .information .black {
    color: black;
  }
  .container-header.description .information hr {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .container-header.description .img {
    background: none;
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    text-align: center;
    order: 2;
  }
  .container-header.description .img img {
    display: block !important;
    transform: scale(0.6) translate(-600px, -200px);
    transform-origin: left top;
  }
  .container-header.description .container-header-wrapper {
    order: 1;
  }
  .container-header.description img {
    display: none;
  }
  .container-header.description .description {
    text-align: center;
    margin-bottom: 10px;
  }
  .container-header.description .description p {
    margin-top: 10px;
    font-size: 15px !important;
  }
  .container-header.description .description h2 {
    display: inline;
  }
  .container-header.description .description .h1 {
    margin-top: 20px;
  }
  .container-header.description .description .h1 h1 {
    display: inline;
    font-size: 22px;
    font-weight: bold;
  }
  .container-header .blog-name,
  .container-header .page-name {
    position: absolute;
    top: 12px;
    left: 70px;
  }
  .container-header .blog-name h1,
  .container-header .page-name h1 {
    display: inline;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase !important;
  }
  .container-header p {
    font-size: 13px;
  }
  .container-header p.last {
    margin-top: 10px;
  }
  .container-header .adding {
    text-align: center;
  }
  .container-header .adding h2 {
    display: inline;
  }
  .container-header .text {
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-header .text .scroll {
    display: none;
  }
  .container-header .img {
    background: url(../images/header.jpg);
    height: 530px;
    background-position-x: center;
    background-position-y: -105px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 20px;
  }
  .container-header .img img {
    display: none;
  }
  .container-content .container-content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .container-content .container-content-wrapper .text-wrapper {
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-content .container-content-wrapper .text-wrapper p {
    margin-bottom: 15px;
  }
  .container-content .container-content-wrapper .also-posts-wrapper {
    display: none;
  }
  .container-content .container-content-wrapper .comment-wrapper .share {
    text-align: center;
  }
  .container-content .container-content-wrapper .comment-wrapper .share a {
    margin-left: 15px;
  }
  .container-content .container-content-wrapper .comment-wrapper .comments .arrows {
    display: none;
  }
  .container-content .container-content-wrapper h3 {
    text-align: center;
    font-size: 15px;
  }
  .container-content .container-content-wrapper .comment-wrapper {
    order: 2;
    padding-top: 35px;
  }
  .container-content .container-content-wrapper .comment-wrapper form {
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-content .container-content-wrapper .comment-wrapper form p {
    display: none;
  }
  .container-content .container-content-wrapper .comment-wrapper form input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    cursor: text !important;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    font-family: 'Lato', serif;
    font-size: 14px;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"] {
    padding: 13px 43px;
    background: white;
    border: 2px solid #c8c8c8;
    transition: .2s;
    transition-timing-function: ease-out;
    font-family: 'Lato', serif;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px !important;
    font-size: 12px !important;
    line-height: 3px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    cursor: pointer !important;
  }
  .container-content .container-content-wrapper .comment-wrapper form input[type="submit"]:hover {
    background: #c8c8c8;
    color: white;
  }
  .container-content .container-content-wrapper .comment-wrapper form textarea {
    overflow: -webkit-paged-x;
    display: block !important;
    width: 100%;
    height: 36px;
    resize: none;
    margin-bottom: 5px;
    cursor: text !important;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    font-family: 'Lato', serif;
    font-size: 14px;
  }
  .container-content .container-content-wrapper .background-wrapper {
    order: 1;
    width: 100%;
    height: 250px;
    overflow: hidden;
    text-align: center;
  }
  .container-content .container-content-wrapper .newsletter-background {
    order: 3;
    position: relative;
    height: 345px;
    margin-bottom: 7px;
    padding-top: 96px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 16px;
    background: url(../images/Posts/newsletter.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper {
    width: 90%;
    height: 250px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    background: white;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -15px;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper span {
    font-size: 14px;
    color: #5e5e5e;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper form {
    margin-top: 15px;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper form input {
    width: 170px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    cursor: text !important;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    font-family: 'Lato', serif;
    font-size: 14px;
  }
  .container-content .container-content-wrapper .container-newsletter-wrapper form button {
    margin-top: 20px;
  }
  .container-posts {
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-posts .post {
    display: flex;
    flex-direction: column;
  }
  .container-posts .post .description {
    order: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 40px;
  }
  .container-posts .post .description .created {
    position: relative;
    padding-bottom: 25px;
  }
  .container-posts .post .description .created span {
    float: right;
    padding-right: 50px;
  }
  .container-posts .post .description .created hr {
    position: absolute;
    right: 0;
    top: -4px;
    width: 30px;
  }
  .container-posts .post .description h2 {
    font-size: 15px;
    color: black;
  }
  .container-posts .post .description p {
    font-size: 13px;
  }
  .container-posts .post .description button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-posts .post .picture {
    order: 2;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
  }
  .container-posts .post .picture img {
    margin-top: -10%;
  }
  .container-posts .post .picture:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    left: 50%;
    margin-left: -10px;
    background: white;
    z-index: 2;
  }
  .container-posts .pagination {
    margin-top: 10px;
    padding-left: 25px;
  }
  .container-posts .pagination .list {
    display: inline-block;
  }
  .container-posts .pagination .list li {
    display: inline;
    margin-right: 15px;
    font-size: 14px;
  }
  .container-posts .pagination .loading {
    display: inline-block;
  }
  .container-posts .pagination .loading .load {
    padding-left: 17px;
    padding-top: 14px;
    margin-top: 10px;
  }
  .container-posts .pagination .loading .load span {
    float: left;
    font-size: 14px;
  }
  .container-posts .pagination .loading .load img {
    float: left;
    height: 12px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .container-facts-wrapper .description {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-facts-wrapper .mark {
    display: none;
  }
  .container-facts-wrapper .fact-wrapper {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 400px;
  }
  .container-facts-wrapper .fact-wrapper .fact {
    display: block;
    margin: 0 auto;
    margin-top: -150px;
    width: 599px;
  }
  .container-articles {
    margin-bottom: -100px;
  }
  .container-articles .container-articles-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-articles .container-articles-wrapper hr {
    display: none;
  }
  .container-articles .container-articles-wrapper span {
    font-style: italic;
    order: 1;
    font-size: 11px;
  }
  .container-articles .container-articles-wrapper .picture {
    position: relative;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
    height: 352px;
    order: 2;
    overflow: hidden;
  }
  .container-articles .container-articles-wrapper .picture img {
    position: absolute;
    left: -250px;
  }
  .container-articles .container-articles-wrapper .description {
    order: 3;
  }
  .container-articles .container-articles-wrapper .description p {
    margin-top: 30px;
    font-size: 15px;
    color: #3b3b3b;
  }
  .container-articles .container-articles-wrapper .short {
    order: 4;
    z-index: 5;
  }
  .container-articles .container-articles-wrapper .short h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  .container-articles .container-articles-wrapper .short p {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .container-articles .container-articles-wrapper .short .load {
    padding-left: 17px;
    padding-top: 14px;
    margin-top: 10px;
  }
  .container-articles .container-articles-wrapper .short .load span {
    float: left;
    font-size: 12px;
  }
  .container-articles .container-articles-wrapper .short .load img {
    float: left;
    height: 12px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .container-newsletter {
    position: relative;
    height: 335px;
    margin-bottom: 7px;
    padding-top: 85px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 16px;
    background: url(../images/Posts/newsletter.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
  }
  .container-newsletter .container-newsletter-wrapper {
    width: 90%;
    height: 250px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    background: white;
  }
  .container-newsletter .container-newsletter-wrapper h2 {
    font-size: 16px;
    color: black;
    margin-bottom: -15px;
  }
  .container-newsletter .container-newsletter-wrapper span {
    font-size: 14px;
    color: #5e5e5e;
  }
  .container-newsletter .container-newsletter-wrapper form {
    margin-top: 15px;
  }
  .container-newsletter .container-newsletter-wrapper form input {
    width: 170px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    cursor: text !important;
    line-height: 36px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    font-family: 'Lato', serif;
    font-size: 14px;
  }
  .container-newsletter .container-newsletter-wrapper form button {
    margin-top: 20px;
  }
  .container-journey-wrapper {
    display: flex;
    flex-direction: column;
  }
  .container-journey-wrapper .text {
    order: 2;
    z-index: 2;
    text-align: center;
    background: #25e1db;
  }
  .container-journey-wrapper .journey {
    position: relative;
    overflow: hidden;
    z-index: 1;
    order: 1;
    line-height: 0px;
    margin-bottom: -170px;
    text-align: center;
  }
  .container-journey-wrapper .journey img {
    width: 100%;
  }
  .container-journey-wrapper .description {
    order: 3;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-journey-wrapper .description h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .container-journey-wrapper .description p {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .container-journey-wrapper .description .load {
    padding-left: 17px;
    padding-top: 14px;
    margin-top: 10px;
  }
  .container-journey-wrapper .description .load span {
    float: left;
    font-size: 12px;
  }
  .container-journey-wrapper .description .load img {
    float: left;
    height: 12px;
    margin-left: 10px;
    margin-top: -5px;
  }
  .container-instagram-story {
    margin-top: 50px;
  }
  .container-instagram-story .container-instagram-story-wrapper {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-instagram-story .container-instagram-story-wrapper hr {
    position: absolute;
    width: 50px;
    height: 2px !important;
    top: -4px;
    left: 56px;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption {
    text-align: center;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption h1 {
    display: inline;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 {
    position: relative;
    display: block;
    width: 203px;
    text-align: left;
    margin: 0 auto;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 hr {
    left: 56px !important;
  }
  .container-instagram-story .container-instagram-story-wrapper .caption .h2 h2 {
    font-size: 12px;
    text-transform: uppercase;
  }
  .instagram-carousel {
    margin-top: 30px !important;
  }
  .container-footer {
    height: 60px;
    line-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .container-footer .menu .logo {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
  .container-footer .menu ul {
    display: inline-block;
    margin-left: 40px;
  }
  .container-footer .menu ul.social {
    margin-left: 0;
    float: right;
  }
  .container-footer .menu ul li {
    display: inline;
    margin-right: 15px;
  }
  .container-footer .menu ul li.big {
    margin-right: 0;
  }
  .container-footer .menu ul li.big i {
    font-size: 15px;
    vertical-align: middle;
  }
}
