// Mode: Desktop
@desktop: 1200px;
@desktop-area: 1200px;

// Mode: Tablet
@tablet: 768px;
@tablet-area: 720px;

// Mode: Phone
@phone: 375px;
@phone-area: 320px;

.wp-hide{
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Lato', serif;
}
input {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #636363;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #636363;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #636363;
  }
}
textarea {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #636363;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #636363;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #636363;
  }
}
i {
  font-family: FontAwesome;
}
a {
  color: black;
  text-decoration: none;
}

.primary {
  color: #3b3b3b;
}

.secondary {
  color: #6ee6e3;
}

button {
  padding: 13px 43px;
  margin-top: 29px;
  background: white;
  border: 2px solid #c8c8c8;
  cursor: pointer;
  transition: .2s;
  transition-timing-function: ease-out;
  font-size: 16px;
  font-family: 'Lato', serif;
  &:hover {
    background: #c8c8c8;
    color: white
  }
  &.load {
    border: none;
    &:hover {
      background: white;
      color: black;
    }
    i {
      margin-left: 15px;
    }
  }
}
.clearfix {
  clear: both;
}

.no-cursor {
  cursor: none;
}

//Tablet version
@media (min-width: @tablet) and (max-width: @desktop) {
  p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
   header {
     .menu {
       width: @tablet-area !important;
       .social {
         .linkedin {
           margin-right: 50px !important;
         }
       }
     }
   }
  //finish
  .container-header {
    height: 380px !important;
    .scroll-down {
      display: none;
    }
    &.posts {
      .img {
        img {
          transform: scale(.8);
          margin-top: -280px;
        }
      }
      .container-header-wrapper {
        .description {
          margin-top: 65px !important;
          img {
            display: none;
          }
          .blog-name {
            margin-top: 20px !important;
          }
        }
      }
    }

    &.description {
      .blog-name {
        display: none !important;
      }
      .img {
        height: 390px !important;
        img {
          transform: scale(.8) !important;
          margin-top: -20% !important;
        }
      }
      .description.primary {
        width: 600px !important;
        margin-top: 60px !important;
        padding-bottom: 30px !important;
        .h1 {
          h1 {
            font-size: 36px !important;
          }
        }
      }
      .information {
        height: 45px !important;
        width: 280px !important;
        hr {
          top: 22px !important;
        }
        h3 {
          font-size: 14px !important;
          line-height: 45px !important;
        }
      }
    }
    &.contact {
      .img {
        img {
          transform: translate(0, -300px) !important;
        }
      }
      .description {
        padding-top: 65px !important;
        .page-name {
          margin-top: 15px !important;
        }
        p {
          font-size: 18px !important;
        }
      }
    }
    .container-header-wrapper {
      width: @tablet-area !important;
      p {
        font-size: 16px !important;
        line-height: 24px !important;
        &.first {
          margin-top: 22px !important;
        }
      }
      h1 {
        font-size: 40px !important;
        line-height: 45px;
      }
      .description {
        width: 340px !important;
        margin-top: 100px !important;
      }
      .teodora {
        left: 370px !important;
        top: -35px !important;
        height: 410px;
      }
    }
  }
  //end

  //finish
  .container-facts {
    .container-facts-wrapper {
      width: @tablet-area !important;
      margin-top: 100px !important;
      .description {
        width: 340px !important;
        height: 260px !important;
        top: 45px !important;
        padding-left: 40px !important;
        right: 30px !important;
        p {
          margin-top: 40px !important;
          line-height: 24px !important;
          font-size: 14px !important;
        }
      }
      .fact-wrapper {
        img {
          height: 345px !important;
        }
      }
      .mark {
        display: none !important;
      }
    }
  }
  //end

  //finish
  .container-articles {
    .container-articles-wrapper {
      width: @tablet-area !important;
      padding-top: 70px !important;
      span {
        font-size: 18px !important;
      }
      hr {
        width: 150px !important;
      }
      .picture {
        overflow: hidden;
        img {
          margin-left: -80px !important;
        }
      }
      .description {
        top: 320px !important;
        width: 520px !important;
        height: 100px !important;
        padding: 35px 30px !important;
        right: 69px !important;
        p {
          line-height: 24px !important;
          font-size: 16px !important;
          color: #5e5e5e;
        }
      }
      .short {
        padding-left: 71px;
        h2 {
          font-size: 20px !important;
        }
        button {
          outline: none;
          span {
            font-size: 16px !important;
          }
        }
      }
    }
  }
  //end

  //finish
  .container-journey {
    height: 640px !important;
    .container-sea {
      display: none !important;
    }
    .container-journey-wrapper {
      width: @tablet-area !important;
      padding-top: 60px !important;
      h2 {
        font-size: 20px;
      }
      .text {
        width: 310px;
        margin-top: 38px;
      }
      .journey {
        width: 410px;
        overflow: hidden;
        img {
          transform: scale(.8);
          margin-left: -47px;
          margin-top: -180px;
        }
      }
      .description {
        width: 640px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        top: 400px !important;
        h2 {
          font-size: 20px !important;
        }
        p {
          margin-top: 15px !important;
        }
      }
    }
  }
  //end

  //finish
  .container-instagram-story {
    .container-instagram-story-wrapper {
      width: @tablet-area !important;
      padding-bottom: 40px !important;
      h1 {
        font-size: 40px !important;
        line-height: 55px !important;
      }
      .caption {
        .h2 {
          padding-left: 114px !important;
        }
        hr {
          left: 250px !important;
        }
      }
    }
  }
  //end

  //finish
  footer {
    .container-footer-wrapper {
      width: @tablet-area !important;
      padding-top: 40px !important;
      padding-bottom: 40px !important;
      .menu {
        .logo {
          margin-right: 200px !important;
        }

        .social {
          .small {
            a {
              margin-top: 5px !important;
            }
          }
        }
      }
    }
  }
  //end

  //finish
  .container-posts {
    .container-posts-wrapper {
      width: @tablet-area !important;
      .post {
        &.inverse {
          .description {
            padding-left: 21px !important;
            padding-right: 0 !important;
            width: 371px !important;
            .created {
              padding-right: 45px !important;
              hr {
                right: 5px !important;
              }
            }
          }
        }
        .description {
          padding-right: 35px !important;
          padding-top: 15px !important;
          .created {
            padding-bottom: 20px !important;
            font-size: 13px !important;
            hr {
              top: -1px !important;
            }
          }
        }
        .picture {
          width: 349px !important;
          height: 275px !important;
          &:before {
            z-index: 1;
            left: 165px !important;
            width: 20px !important;
          }
          img {
            transform: scale(.7) !important;
            margin-left: -35% !important;
            margin-top: -26% !important;
          }
        }
      }
      .pagination {
        padding-top: 5px !important;
        margin-bottom: 55px !important;
      }
    }
  }
  //end

  //finish
  .container-newsletter {
    padding-top: 155px !important;
    background-position: top !important;
    h2 {
      font-size: 20px !important;
    }
    span {
      font-size: 16px !important;
    }
    .container-newsletter-wrapper {
      width: 520px !important;
      height: 350px !important;
      form {
        width: 300px !important;
        padding-left: 110px !important;
        input[type="text"] {
          width: 100% !important;
          margin-top: 15px !important;
        }
        input[type="email"] {
          width: 100% !important;
          margin-top: 5px !important;
        }
      }
    }
  }
  //end

  .container-content {
    .container-content-wrapper {
      width: @tablet-area !important;
      margin-top: 80px !important;
      .text-wrapper {
        width: @tablet-area !important;
        p {
          margin-bottom: 22px !important;
          font-size: 16px !important;
        }
      }
      .also-posts-wrapper {
        display: none !important;
      }
      .comment-wrapper {
        width: 720px !important;
        height: fit-content !important;
        &.contact {
          form {
            input {
              width: 300px !important;
              margin-right: 45px !important;
            }
            textarea {
              width: 645px !important;
            }
          }
        }
        h3 {
          font-size: 20px !important;
          margin-bottom: 15px !important;
        }
        .share {
          display: block;
          position: relative !important;
          padding-left: 0 !important;
          float: left !important;
          width: 100% !important;
          margin-bottom: 50px !important;
          button {
            position: relative;
            margin-top: -13px !important;
            border: none !important;
            &:hover {
              background: white !important;
              color: black !important;
            }
            img {
              height: 18px !important;
              position: absolute !important;
              left: 190px !important;
            }
          }
        }
        form {
          input {
            width: 100% !important;
            margin-left: 0 !important;
            &[type="text"] {
              margin-top: 5px !important;
            }
            &[type="submit"] {
              width: 200px !important;
              padding-left: 25px !important;
              padding-right: 25px !important;
            }
          }
        }
        .pagination {
          padding-top: 0px !important;
          margin-bottom: 40px !important;
          .list {
            text-align: center !important;
          }
        }
      }
      .background-wrapper {
        img.background {
          margin-top: -85px !important;
          transform: scale(.74);
        }
      }
      .newsletter-background {
        position: relative;
        .container-newsletter-wrapper {
          width: 480px !important;
          height: 277px;
          padding-top: 25px !important;
          left: 0 !important;
          top: -360px !important;
          text-align: left !important;
          padding-left: 50px !important;
          h2 {
            font-size: 20px !important;
          }
          span {
            font-size: 16px !important;
          }
          form {
            padding-left: 0 !important;
            input {
              width: 80% !important;
              margin-top: 6px !important;
            }
          }
        }
      }
    }
  }
}

//Desktop version
@media (min-width: @tablet) {
  .target-burger {
    display: none;
  }
  h1 {
    display: inline;
    line-height: 93px;
    font-size: 59px;
    font-weight: bold;
    &.big {
      line-height: 107px;
    }
  }

  h2 {
    display: inline;
    font-size: 15px;
  }


  header {
    position: relative;
    font-size: 16px;
    .menu {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      margin-top: 25px;
      a {
        color: black;
        text-decoration: none;
      }
      > :first-child {
        margin-right: 35px;
      }
      ul {
        display: inline;
        li {
          position: relative;
          display: inline;
          margin-right: 50px;
          line-height: 21px;
          span {
            font-weight: 400;
          }
          &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background: #000;
            top: 22px;
            transition: .3s;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }
      .logo {
        display: inline-block;
        float: left;
        font-size: 18px;
        font-weight: 800;
      }
      .social {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        i {
          margin-left: 10px;
          font-size: 20px;
        }

        li {
          &.linkedin {
            margin-right: 120px;
            &:hover {
              &:before {
                width: 85px;
              }
            }
            i {
              position: absolute;
              font-size: 15px;
              top: -1px;
            }
          }
        }
      }
    }
    .header-line {
      position: absolute;
      width: 100%;
      height: 76px;
      background: white;
    }
    span {
      font-weight: 800;
    }
  }

  .container-header {
    position: relative;
    height: 613px;
    &.posts {
      position: relative;
      width: 100%;
      height: 705px;
      margin: 0 auto;
      padding-top: 1px;
      margin-top: 29px;
      .img {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-align: center;
        img {
          margin-left: -960px;
          top: 0;
          left: auto;
          opacity: 1;
        }
      }
      .scroll-down {
        position: absolute;
        left: 850px;
        top: 290px;
        z-index: 10;
        cursor: pointer;
        opacity: .8;
        transition: .4s;
        &:hover {
          opacity: 1;
        }
      }
      .description {
        margin-top: 157px !important;
        width: 550px !important;
      }
      .primary, .devider {
        color: #1C2A28 !important;
      }
      h2 {
        color: #F6FBFC;
      }
      h1 {
        font-size: 64px;
        color: #F2F7F6
      }
    }
    &.contact {
      height: 705px;
      .img {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-align: center;
        img {
          margin-left: -960px;
          top: 0;
          left: auto;
          opacity: 1;
        }
      }
      .description {
        position: relative;
        margin-top: 30px !important;
        width: 550px !important;
        padding-top: 126px;
      }
      .primary, .devider {
        color: #1C2A28 !important;
      }
      h2 {
        color: #F6FBFC;
        font-size: 16px;
        &.primary {
          color: #292929 !important;
        }
      }
      h1 {
        font-size: 64px;
        color: #F2F7F6;
        &.primary {
          color: #292929 !important;
        }
        &.secondary {
          color: #f0f7fa !important;
        }
      }
      p {
        width: 410px;
        color: #f0f7fa;
        margin-top: 15px;
        font-size: 20px !important;
        line-height: 27px !important;
      }
    }
    &.description {
      margin-top: 30px;
      height: 705px;
      .img {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-align: center;
        img {
          margin-left: -960px;
          top: 0;
          left: auto;
          opacity: 1;
        }
      }
      .container-header-wrapper {
        padding-top: 1px;
      }
      .description {
        width: 922px !important;
        margin-top: 127px !important;
        padding-bottom: 55px;
        background: white;
        .primary, .secondary {
          text-transform: none;
        }
        .primary {
          line-height: 48px;
          color: #585858 !important;
        }
        .secondary {
          color: #80E9E6;
        }
        h2 {
          color: #3A3A3A;
        }
        h1 {
          font-size: 64px;
        }
      }
      .information {
        position: relative;
        margin-top: 15px;
        width: 395px;
        padding-left: 47px;
        background: #c5e8ee;
        opacity: 0.9;
        hr {
          position: absolute;
          top: 27px;
          left: 0px;
          width: 37px;
          height: 2px;
          background: #636363;
          border: none;
          opacity: .4;
          margin: 0;
        }
        h3 {
          display: inline;
          line-height: 55px;
          &.secondary {
            color: #636363;
          }
        }
      }
      .primary, .devider {
        color: #1C2A28 !important;
      }
      h2 {
        color: #F6FBFC;
      }
      h1 {
        color: #F2F7F6
      }
    }
    .container-header-wrapper {
      position: relative;
      height: 100%;
      width: 1200px;
      margin: 0 auto;
      padding-top: 0px;
      z-index: 12;
      h2 {
        text-transform: none;
      }
      p {
        line-height: 32px;
        &.first {
          margin-top: 50px;
        }
      }
      ul {
        display: inline;
        li {
          position: relative;
          display: inline;
          margin-right: 50px;
          line-height: 21px;
          span {
            font-weight: 400;
          }
          &:before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background: #000;
            top: 22px;
            transition: .3s;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }
      a {
        color: black;
        text-decoration: none;
      }
      .description {
        width: 530px;
        margin-top: 147px;
        text-transform: uppercase;
        .devider {
          position: relative;
          font-weight: bold;
          &:after {
            content: "";
            position: absolute;
            top: 19px;
            left: 0;
            display: block;
            width: 11px;
            height: 2px;
            background: #1C2A28;
            opacity: .8;
          }
        }
        .scroll {
          position: absolute;
          margin-bottom: 22px;
          bottom: 0;
        }
      }
    }
    h1 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
      text-transform: none;
      font-size: 18px;
      b {
        font-weight: bold;
      }
    }
    img {
      position: absolute;
      left: 770px;
      top: 455px;
      cursor: pointer;
      z-index: 10;
      opacity: .8;
      transition: .4s;
      &:hover {
        opacity: 1;
      }
      &.teodora {
        opacity: 1;
        left: 602px;
        top: -117px;
      }
      &.teodora-mobile {
        display: none;
      }
    }
  }

  .container-content {
    position: relative;
    font-size: 17px;
    margin-bottom: -39px;
    .container-content-wrapper {
      position: relative;
      height: 100%;
      width: 1200px;
      margin: 0 auto;
      margin-top: 90px;
      img {
        &.background {
          margin-top: -80px !important;
          float: right;
        }
      }
      .mobile {
        display: none;
      }
      .text-wrapper {
        width: 925px;
        color: #5e5e5e;
        p {
          line-height: 32px;
          margin-bottom: 32px;
        }
      }
      .container-newsletter-wrapper {
        position: absolute;
        top: 470px;
        left: 250px;
        width: 714px;
        height: 244px;
        padding-top: 41px;
        box-sizing: border-box;
        background: white;
        text-align: center;
        h2 {
          font-size: 22px;
        }
        span {
          font-size: 18px;
          line-height: 36px;
          color: #5e5e5e;
        }
        form {
          padding-left: 85px;
          font-family: 'Lato', serif;
          input {
            float: left !important;
            margin-top: 31px !important;
            width: 140px;
            margin-right: 32px;
            line-height: 36px;
            border: none;
            border-bottom: 1px solid #c8c8c8;
            outline: none;
            font-family: 'Lato', serif;
            font-size: 14px;
          }
          button {
            float: left !important;
            padding: 13px 53px !important;
            margin-top: 32px !important;
          }
        }
      }
      .comment-wrapper {
        position: relative;
        display: inline-block;
        float: left;
        width: 690px;
        height: 440px;
        &.contact {
          h3 {
            margin-bottom: 30px;
          }
          form {
            :nth-child(2) {
              margin-left: 26px;
            }
            :nth-child(3) {
              margin-left: 0;
            }
            p {
              margin-top: 27px;
              font-size: 14px;
            }
            textarea {
              height: 135px;
              border: 1px solid #d8d8d8;
              margin-top: 14px;
              box-sizing: border-box;
              font-size: 14px;
              border-left: none;
              border-top: none;
              border-right: none;
              height: 35px;
            }
            input[type="submit"] {
              width: 208px;
              margin-top: 21px;
            }
          }
        }
        .share {
          position: absolute;
          width: 100%;
          padding-left: 445px;
          top: 4px;
          font-size: 16px;
          span {
            float: left;
            margin-right: 30px;
          }
          a {
            text-decoration: none;
            color: #000;
            &.linkedin {
              float: left;
              margin-top: -1px;
              margin-right: 16px;
            }
            &.instagram {
              float: left;
              margin-right: -13px;
            }

            i {
              &.fa-instagram {
                font-size: 20px;
              }
              &.fa-linkedin {
                font-size: 15px;
              }
            }
          }
        }
        form {
          :nth-child(3) {
            margin-left: 26px;
          }
          textarea {
            width: 100%;
            padding: 0;
            margin-top: 33px;
            resize: none;
            height: 32px;
            line-height: 26px;
            border: none;
            border-bottom: 1px solid #d8d8d8;
            outline: none;
            font-size: 14px;
            font-family: Lato;
          }
          input {
            width: 330px;
            height: 34px;
            line-height: 34px;
            margin-top: 11px;
            border: none;
            border-bottom: 1px solid #ececec;
            outline: none;
            font-size: 14px;
            font-family: Lato;
          }
          input[type="submit"] {
            margin-top: 38px;
            margin-bottom: 80px;
            height: 45px;
            line-height: 40px;
            width: auto;
            padding-left: 50px;
            padding-right: 50px;
            background: white;
            border: 2px solid #c8c8c8;
            font-weight: bold;
            cursor: pointer;
            transition: .2s;
            transition-timing-function: ease-out;
            font-weight: 400;
            font-size: 16px;
            font-family: Lato;
            &:hover {
              background: #c8c8c8;
              color: white
            }
            &.load {
              border: none;
              &:hover {
                background: white;
                color: black;
              }
              i {
                margin-left: 15px;
              }
            }
          }
        }
        h3 {
          font-size: 22px;
        }
        .comments {
          position: relative;
          padding-top: 48px;
          .arrows {
            position: absolute;
            width: 100%;
            text-align: right;
            top: -22px;
            img {
              height: 20px;
              cursor: pointer;
            }
          }
          .item {
            width: 100%;
            height: 132px;
            .avatar {
              display: inline-block;
              float: left;
              width: 79px;
              height: 79px;
            }
            .text {
              display: inline-block;
              float: left;
              width: 610px;
              padding-top: 8px;
              padding-left: 23px;
              box-sizing: border-box;
            }
            h4 {
              margin-bottom: 11px;
              font-size: 14px;
            }
            p {
              line-height: 32px;
              font-size: 16px;
              color: #5e5e5e;;
            }
          }
        }
        .pagination {
          padding-top: 20px;
          margin-bottom: 60px;
          .list {
            width: 100%;
          }
          .list {
            box-sizing: border-box;
            text-align: right;
            ul {
              display: inline;
              li {
                display: inline;
                margin-right: 14px;
                &:last-child {
                  margin-right: 0;
                }
                a {
                  color: #3b3b3b;
                  text-decoration: none;
                  font-size: 16px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      .also-posts-wrapper {
        position: relative;
        display: inline-block;
        float: left;
        width: 387px;
        margin-left: 123px;
        hr {
          position: absolute;
          top: 390px;
          left: 0px;
          width: 35px;
          height: 2px;
          background: #636363;
          border: none;
          opacity: .4;
        }
        h3 {
          margin-bottom: 42px;
          font-size: 22px;
        }
        .not-exist-comments {
          .picture {
            &:before {
              content: none;
            }
          }
          h3 {
            display: inline;
            float: left;
          }
          .arrow {
            height: 20px;
            float: left;
            margin-top: 5px;
            margin-left: 15px;
          }
        }
        .picture {
          position: relative;
          margin-bottom: 15px;
          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 17px;
            background: white;
            left: 181px;
            top: 0;
          }
          img {
            width: 100%;
          }
        }
        span {
          font-size: 22px;
        }
        h4 {
          padding-left: 54px;
          margin-bottom: 24px;
          font-size: 16px;
          color: #5e5e5e;
        }
        p {
          margin-top: 19px;
          font-size: 18px;
          color: #5e5e5e;
          line-height: 32px;
        }
        button {
          font-weight: 400;
          margin-top: 22px;
          float: left;
          &.load {
            padding-left: 17px;
            padding-top: 14px;
            span {
              float: left;
              font-size: 16px;
            }
            img {
              float: left;
              height: 18px;
              margin-left: 26px;
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  .container-facts {
    position: relative;
    font-size: 17px;
    margin-top: -25px;
    .container-facts-wrapper {
      position: relative;
      height: 100%;
      width: 1200px;
      margin: 0 auto;
      margin-top: 125px;
      .description {
        position: absolute;
        height: 330px;
        width: 715px;
        top: 60px;
        right: 0;
        padding-left: 85px;
        background: white;
        p {
          margin-top: 88px;
          line-height: 32px;
        }
      }
      .mark {
        position: absolute;
        right: 0;
        top: 60px;
        height: 21px;
      }
    }
  }

  .container-posts {
    position: relative;
    font-size: 18px;
    h2 {
      font-size: 22px;
      font-weight: 500;
      color: #000;
    }
    p {
      margin-top: 20px;
      line-height: 32px;
      color: #5e5e5e;
    }
    .container-posts-wrapper {
      position: relative;
      padding-top: 62px;
      width: 1200px;
      margin: 0 auto;
      .post {
        margin-bottom: 59px;
        &.inverse {
          .description {
            padding-left: 90px;
            padding-right: 25px;
          }
          .picture {
            margin-left: 0;
          }
        }
        .description {
          display: inline-block;
          padding-top: 82px;
          padding-right: 115px;
          width: 50%;
          float: left;
          box-sizing: border-box;
          .created {
            position: relative;
            text-align: right;
            font-size: 16px;
            padding-bottom: 35px;
            padding-right: 35px;
            color: #636363;
            hr {
              position: absolute;
              top: 1px;
              right: -12px;
              width: 35px;
              height: 2px;
              background: #636363;
              border: none;
              opacity: .4;
            }
          }
          button {
            margin-top: 22px;
            &:hover {
              background: #6ee6e3;
              border-color: #6ee6e3;
            }
          }
        }
        .picture {
          position: relative;
          display: inline-block;
          width: 589px;
          height: 459px;
          margin-left: 11px;
          float: left;
          overflow: hidden;
          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 25px;
            background: white;
            left: 281px;
            top: 0;
          }
        }
      }
      .pagination {
        padding-top: 20px;
        margin-bottom: 60px;
        .list, .loading {
          display: inline-block;
          float: left;
          width: 50%;
        }
        .list {
          padding-right: 32px;
          box-sizing: border-box;
          text-align: right;
          ul {
            display: inline;
            li {
              display: inline;
              margin-right: 14px;
              &:last-child {
                margin-right: 0;
              }
              a {
                color: #3b3b3b;
                text-decoration: none;
                font-size: 16px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .loading {
          button {
            font-weight: 400;
            margin-top: -11px;
            float: left;
            &.load {
              margin-left: 16px;
              padding-left: 10px;
              padding-top: 0;
              span {
                float: left;
                font-size: 16px;
                font-style: initial;
                padding-top: 13px;
              }
              img {
                float: left;
                height: 18px;
                margin-left: 24px;
                margin-top: 14px;
              }
            }
          }
        }
      }
    }
  }

  .container-newsletter {
    position: relative;
    height: 444px;
    margin-bottom: 7px;
    padding-top: 96px;
    box-sizing: border-box;
    font-size: 16px;
    background: url("../images/Posts/newsletter.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
    .container-newsletter-wrapper {
      width: 714px;
      height: 244px;
      margin: 0 auto;
      padding-top: 41px;
      box-sizing: border-box;
      background: white;
      text-align: center;
      h2 {
        font-size: 22px;
      }
      span {
        font-size: 18px;
        line-height: 36px;
        color: #5e5e5e;
      }
      form {
        padding-left: 85px;
        font-family: 'Lato', serif;
        input {
          float: left !important;
          margin-top: 31px !important;
          width: 140px;
          margin-right: 32px;
          line-height: 36px;
          border: none;
          border-bottom: 1px solid #c8c8c8;
          outline: none;
          font-family: 'Lato', serif;
          font-size: 14px;
        }
        button {
          float: left !important;
          padding: 13px 53px !important;
          margin-top: 32px !important;
        }
      }
    }
  }

  .container-instagram-story {
    position: relative;
    .container-instagram-story-wrapper {
      position: relative;
      width: 1200px;
      background: white;
      margin: 0 auto;
      padding-top: 66px;
      padding-bottom: 59px;
      text-align: center;
      .caption {
        width: 594px;
        margin: 0 auto;
        h1 {
          line-height: 93px;
          font-size: 64px;
        }
        .h2 {
          padding-left: 5px;
          text-align: left;
          h2 {
            text-transform: uppercase;
          }
          hr {
            position: absolute;
            top: 67px;
            left: 380px;
            width: 55px;
            height: 2px;
            background: #6a6a6a;
            border: none;
          }
        }
        h1 {
          text-transform: uppercase;
        }
      }
    }
  }

  .instagram-carousel {
    .item {
      width: 387px !important;
      height: 355px !important;
      overflow: hidden;
    }
  }

  .container-articles {
    position: relative;
    font-size: 17px;
    .container-articles-wrapper {
      position: relative;
      width: 1200px;
      background: white;
      margin: 0 auto;
      padding-top: 150px;
      .picture {
        width: 100%;
        height: 351px;
      }
      .short {
        width: 550px;
        padding-top: 65px;
        h2 {
          font-size: 22px;
        }
        p {
          margin-top: 15px;
          line-height: 32px;
        }
        button {
          font-weight: 400;
          margin-top: 27px;
          float: left;
          &.load {
            margin-left: 16px;
            padding-left: 19px;
            padding-top: 15px;
            span {
              float: left;
              font-size: 16px;
              font-style: initial;
              padding-top: 13px;
            }
            img {
              float: left;
              height: 18px;
              margin-left: 24px;
              margin-top: 2px;
            }
          }
        }
      }
      .description {
        position: absolute;
        top: 455px;
        right: 0;
        width: 580px;
        height: 300px;
        line-height: 32px;
        padding: 61px 0 0 68px;
        background: white;
      }
      hr {
        position: relative;
        margin: 0 19px 45px 0;
        width: 286px;
        height: 2px;
        background: #cecece;
        float: left;
        border: none;
      }
      span {
        float: left;
        margin-top: -13px;
        font-style: italic;
        font-size: 20px;
      }
    }
  }

  .container-journey {
    position: relative;
    height: 944px;
    font-size: 17px;
    .container-sea {
      position: absolute;
      height: 665px;
      width: 100%;
      top: 385px;
      left: -250px;
      background: url(../images/journey/sea.png);
      background-repeat: no-repeat;
    }
    .container-journey-wrapper {
      position: relative;
      width: 830px;
      background: white;
      margin: 0 auto;
      padding-top: 110px;
      .text, .journey {
        display: inline-block;
        float: left;
      }
      .journey {
        img {
          margin-top: -183px;
        }
      }
      .description {
        position: absolute;
        top: 430px;
        left: 0;
        width: 500px;
        padding-top: 56px;
        padding-bottom: 60px;
        padding-left: 65px;
        padding-right: 80px;
        background: white;
        h2 {
          font-size: 22px;
          margin-bottom: 15px;
        }
        p {
          margin-top: 20px;
          font-size: 17px;
          line-height: 32px;
        }
        button {
          font-weight: 400;
          margin-top: 27px;
          float: left;
          &.load {
            margin-left: 16px;
            padding-left: 19px;
            padding-top: 15px;
            span {
              float: left;
              font-size: 16px;
              font-style: initial;
            }
            img {
              float: left;
              height: 18px;
              margin-left: 24px;
              margin-top: 2px;
            }
          }
        }
      }

    }
  }

  .container-footer {
    position: relative;
    font-size: 16px;
    .container-footer-wrapper {
      position: relative;
      width: 1200px;
      background: white;
      margin: 0 auto;
      padding-top: 93px;
      padding-bottom: 63px;
      ul {
        display: inline;
        li {
          position: relative;
          display: inline;
          margin-right: 55px;
          &:before {
            content: "";
            position: absolute;
            height: 2px;
            width: 0%;
            top: 22px;
            background: #000;
            transition: .3s;
          }
          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
      }
      a {
        color: black;
        text-decoration: none;
        &.logo {
          font-size: 18px;
          font-weight: 800 !important;
        }
      }
      .menu {
        position: relative;
        > :first-child {
          margin-right: 432px;
          font-weight: bold;
        }
        .social {
          position: absolute;
          top: 0;
          right: 0;
          text-align: right;
          i {
            margin-left: 10px;
            font-size: 20px;
          }
          li {
            margin-right: 10px;
            :hover {
              text-decoration: none;
            }
            &.small {
              a {
                float: left;
                margin-top: 2px;
              }
            }
            &.big {
              a {
                float: right;
                margin-top: 3px;
              }
            }
            .fa-linkedin {
              font-size: 15px;
            }
          }
        }
      }

    }
  }

  .owl-carousel {
    .owl-item {
      img {
        transform: scale(1.1);
        transition: .4s;
        transition-timing-function: ease-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}



//Mobile version
@media (max-width: 767px) {
  /*! normalize.css v1.0.0 | MIT License | git.io/normalize */

  /* =============================================================================
     HTML5 display definitions
     ========================================================================== */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  audio:not([controls]) { display: none; }
  [hidden] { display: none; }


  /* =============================================================================
     Base
     ========================================================================== */

  /*
   * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
   * 2. Force vertical scrollbar in non-IE
   * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
   */

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    font-size: 12px !important;
  }

  html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  button {
    height: 35px !important;
    font-size: 12px !important;
    line-height: 3px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
  }

  input[type=button],
  input[type=submit],
  input[type=text],
  input[type=search],
  input[type=password],
  select,
  button,
  textarea {
    margin: 0;
    cursor: pointer;
    outline: none;
    vertical-align: top;
  }
  input[type=submit] {
    border: none 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  input[type=radio],
  input[type=checkbox] {
    margin: 0;
    padding: 0;
  }
  input[type=text],
  input[type=search],
  select,
  textarea {
    cursor: default;
  }
  *:first-child+html input.button {
    overflow: visible; /* remove padding from left/right */
    width: auto !important;
  }

  /*
   * Remove text-shadow in selection highlight: h5bp.com/i
   * These selection declarations have to be separate
   * Also: hot pink! (or customize the background color to match your design)
   */

  a { -webkit-tap-highlight-color: rgba(0,0,0,0);}
  a:hover,a:focus,a:active { text-decoration: none;}
  a:hover, a:active {outline: 0; text-decoration: none;}
  /* =============================================================================
     Typography
     ========================================================================== */
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
  }
  blockquote {
    margin: 1em 40px;
  }
  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /* =============================================================================
     Lists
     ========================================================================== */

  ul, ol {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style:none;
  }
  dd {
    margin: 0 0 0 40px;
  }
  nav ul,
  nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* =============================================================================
     Embedded content
     ========================================================================== */

  /*
   * Improve image quality when scaled in IE7
   * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
   */

  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  /*
   * Correct overflow displayed oddly in IE9
   */

  svg:not(:root) {
    overflow: hidden;
  }

  /* =============================================================================
     Figures
     ========================================================================== */

  figure {
    margin: 0;
  }

  /* =============================================================================
     Forms
     ========================================================================== */

  form {
    margin: 0;
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /* Indicate that 'label' will shift focus to the associated form element */
  label {
    cursor: pointer;
  }

  /*
   * 1. Correct color not inheriting in IE6/7/8/9
   * 2. Correct alignment displayed oddly in IE6/7
   */

  legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
  }

  /*
   * 1. Correct font-size not inheriting in all browsers
   * 2. Remove margins in FF3/4 S5 Chrome
   * 3. Define consistent vertical alignment display in all browsers
   */

  button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }

  /* Select styling in Firefox */
  @-moz-document url-prefix() {
    select {
      padding: 0.8em 0.75em;
    }
  }

  /*
   * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
   */

  button,
  input {
    line-height: normal;
  }
  *:first-child+html input.button {
    overflow: visible; /* remove padding from left/right */
    width:auto !important;
  }

  /*
   * 1. Display hand cursor for clickable form elements
   * 2. Allow styling of clickable form elements in iOS
   * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
   */

  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
  }
  input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  /*
   * Consistent box sizing and appearance
   */

  input[type="checkbox"],
  input[type="radio"] {
    margin: 0;
    padding: 0;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /*
   * Remove inner padding and border in FF3/4: h5bp.com/l
   */

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /*
   * 1. Remove default vertical scrollbar in IE6/7/8/9
   * 2. Allow only vertical resizing
   */

  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
  }

  /* Colors for form validity */
  input:valid,
  textarea:valid {
  }
  input:invalid,


  /* =============================================================================
     Tables
     ========================================================================== */

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* =============================================================================
     Non-semantic helper classes
     Please define your styles before this section.
     ========================================================================== */

  /* Hide from both screenreaders and browsers: h5bp.com/u */
  .hidden {
    display: none !important;
    visibility: hidden;
  }

  /* Hide only visually, but have it available for screenreaders: h5bp.com/v */
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  /* Hide visually and from screenreaders, but maintain layout */
  .invisible {
    visibility: hidden;
  }

  /* Contain floats: h5bp.com/q */
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    *zoom: 1;
  }
  /* #Typography Variables
  ================================================== */
  @baseFont: 'Source Sans Pro', helvetica, sans-serif;
  @source: 'Source Sans Pro', sans-serif;
  @monser: 'Montserrat', sans-serif;
  /* #Colour Variables
  ================================================== */
  @baseColour: #5e5e5e;;

  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Montserrat:400,700);
  a{
    text-decoration: none;
  }
  h1{
    font-size: 2.350em;
    line-height: 1.25;
    font-weight: 300;
  }
  p {
    font-size: 13px !important;
  }
  /* =============================================================================
     Layout
     ========================================================================== */
  body{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: @baseFont;
    color: @baseColour;
    line-height: 1.6;
    font-weight: normal;
  }
  .container{
    position: relative;
    .transition(0.5s);
    &.toggled{
      -webkit-filter: blur(8px);
      -moz-filter: blur(8px);
      -o-filter: blur(8px);
      -ms-filter: blur(8px);
      filter: blur(8px);
      .transition(0.5s);
    }
  }

    .main-nav {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      height: 0;
      width: 100%;
      padding: 5em 2em;
      .opacity(0);
      -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
      transform: scale(0.85);
      .transition(0.5s);
      background: #6ee6e3;
      li {
        display: none;
        text-align: center;
        font-size: 25px;
        line-height: 65px;
        a {
          color: white;
          font-family: Lato;
          font-size: 25px;
        }
      }
      &.toggled {
        position: fixed;
        display: block;
        height: 100%;
        z-index: 10;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        .opacity(1);
        .transition(0.5s);
        li {
          display: block;
        }
      }
      ul{
        padding: 2em 0 0 0;
        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          a{
            font-size: 1.250em;
            color: #fff;
            padding: 1em 0;
            font-weight: 300;
            display: block;
            .transition(0.5s);
            &:last-child{
              border: none;
            }
            &:hover{
              .transition(0.5s);
              padding: 1em;
            }
          }
        }
      }
    }
    header{
      a.target-burger{
        width: 25px;
        height: 27px;
        position: absolute;
        display: block;
        top: 15px;
        left: 23px;
        z-index: 11;
        .transition(0.5s);
        &:hover{
          cursor: pointer;
        }
        &.toggled{
          ul.buns{
            li.bun{
              -webkit-transform: rotate(45deg) translateZ(0);
              transform: rotate(45deg) translateZ(0);
              background: white;
              &:first-child {
                opacity: 0;
              }
              &:last-child{
                -webkit-transform: rotate(-45deg) translateZ(0);
                transform: rotate(-45deg) translateZ(0);
              }
            }
          }
        }
        ul.buns{
          width: 1.625em;
          height: 1.625em;
          list-style: none;
          margin: -1.625em/2 0 0 -1.625em/2;
          padding: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
          transition: transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          color: #fff;
          li.bun{
            width: 100%;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 50%;
            margin-top: -.75px;
            -webkit-transform: translateY(-3.75px) translateZ(0);
            transform: translateY(-3.75px) translateZ(0);
            -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
            transition: transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
            &:first-child {
              top: 3px;
            }
            &:last-child{
              -webkit-transform: translateY(3.75px) translateZ(0);
              transform: translateY(3.75px) translateZ(0);
            }
          }
        }
      }
    }
    div.app-content{
      position: relative;
      z-index: 5;
      ul.content-list{
        li{
          article{
            figure{
              position: relative;
              &:before{
                content: '';
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgba(00, 00, 00, 0.35);
              }
              img{
                width: 100%;
                line-height: 1;
                display: block;
              }
              figcaption{
                color: #fff;
                position: absolute;
                z-index: 5;
                bottom: 0;
                padding: 2em 2em 2.5em 2em;
                h1,span{
                  .text-shadow(0px 0px 10px rgba(00,00,00,0.25))
                }
                h1{
                  padding: 0 0 0.25em 0 ;
                  margin: 0 0 0.25em 0;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }
                span{
                  font-family: @monser;
                  display: block;
                  &.category{
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    padding: 0 0 0.3em;
                    color: rgba(255,255,255, 0.7);
                  }
                  &.price{
                    font-size: 1.3em;
                    float: right;
                  }
                }
              }
            }
          }
        }
      }
    }
  /* =============================================================================
     Mixins & Functions
     ========================================================================== */
  .inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  .opacity (@opacity) {
    -webkit-opacity: 	@opacity;
    -moz-opacity: 		@opacity;
    opacity: 		@opacity;
  }
  .border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
  }
  .box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
  }
  .text-shadow (@string) {
    -webkit-text-shadow: @string;
    -moz-text-shadow:    @string;
    text-shadow:         @string;
  }
  .transition(@duration) {
    -webkit-transition: all @duration ease;
    -moz-transition: all @duration ease;
    -o-transition: all @duration ease;
    transition: all @duration ease;
  }
  .animated(@duration) {
    -webkit-animation-duration: @duration;
    -moz-animation-duration: @duration;
    animation-duration: @duration;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  header {
    .blog-name {
      position: absolute;
      left: 70px;
      top: 12px;
      h1 {
        display: inline;
        font-weight: bold;
        text-transform: uppercase !important;
        font-size: 22px;
      }
    }
    .menu {
      height: 65px;
      .logo {
        display: none;
      }
      .social {
        li {
          span {
            display: none;
          }
          .fa-linkedin {
            position: absolute;
            right: 60px;
            top: 17px;
          }
          .fa-instagram {
            position: absolute;
            right: 25px;
            top: 15px;
            font-size: 15px;
          }
        }
      }
    }
  }
  .container-header {
    margin-top: -10px;
    &.posts {
      height: 20px;
      .img {
        display: none;
      }
      .description {
        text-align: center;
        h2 {
          display: inline;
        }
      }
      img {
        display: none;
      }
      .description {
        margin-bottom: 30px;
      }
    }
    &.contact {
      padding-left: 25px;
      padding-right: 25px;
      .img {
        display: none;
      }
      img {
        display: none;
      }
      .description {
        text-align: center;
        margin-bottom: 30px;
        p {
          margin-top: 10px;
          font-size: 15px !important;
        }
        h2 {
          display: inline;
        }
      }
    }
    &.description {
      display: flex;
      flex-direction: column;
      h3 {
        display: inline;
      }
      .information {
        position: absolute;
        margin-top: 275px;
        width: 100%;
        text-align: center;
        .secondary {
          color: #5e5e5e;;
        }
        .black {
          color: black;
        }

        hr {
          display: inline-block;
          width: 30px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .img {
        background: none;
        position: relative;
        width: 100%;
        height: 250px;
        overflow: hidden;
        text-align: center;
        order: 2;
        img {
          display: block !important;
          transform: scale(.6) translate(-600px, -200px);
          transform-origin: left top;
        }
      }
      .container-header-wrapper {
        order: 1;
      }
      img {
        display: none;
      }
      .description {
        text-align: center;
        margin-bottom: 10px;
        p {
          margin-top: 10px;
          font-size: 15px !important;
        }
        h2 {
          display: inline;
        }
        .h1 {
          margin-top: 20px;
          h1 {
            display: inline;
            font-size: 22px;
            font-weight: bold;
          }
        }
      }
    }
    .blog-name, .page-name {
      position: absolute;
      top: 12px;
      left: 70px;
      h1 {
        display: inline;
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase !important;
      }
    }
    p {
      font-size: 13px;
      &.last {
        margin-top: 10px;
      }
    }
    .adding {
      text-align: center;
      h2 {
        display: inline;
      }
    }
    .text {
      margin-top: 0;
      padding-left: 25px;
      padding-right: 25px;
      .scroll {
        display: none;
      }
    }
    .img {
      background: url(../images/header.jpg);
      height: 530px;
      background-position-x: center;
      background-position-y: -105px;
      background-repeat: no-repeat;
      margin: 0 auto;
      margin-top: 20px;
      img {
        display: none;
      }
    }
  }

  .container-content {
    .container-content-wrapper {
      display: flex;
      flex-direction: column;
      .text-wrapper {
        margin-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
        p {
          margin-bottom: 15px;
        }
      }
      .also-posts-wrapper {
        display: none;
      }
      .comment-wrapper {
        .share {
          text-align: center;
          a {
            margin-left: 15px;
          }
        }
        .comments {
          .arrows {
            display: none;
          }
        }
      }
      h3 {
        text-align: center;
        font-size: 15px;
      }
      .comment-wrapper {
        order: 2;
        padding-top: 35px;
        form {
          padding-left: 25px;
          padding-right: 25px;
          p {
            display: none;
          }
          input {
            display: block;
            width: 100%;

            margin-bottom: 5px;
            cursor: text !important;
            line-height: 36px;
            border: none;
            border-bottom: 1px solid #c8c8c8;
            outline: none;
            font-family: 'Lato', serif;
            font-size: 14px;
          }
          input[type="submit"] {
            padding: 13px 43px;
            background: white;
            border: 2px solid #c8c8c8;
            transition: .2s;
            transition-timing-function: ease-out;
            font-family: 'Lato', serif;
            width: fit-content;
            margin-top: 20px;
            margin-bottom: 20px;
            height: 35px !important;
            font-size: 12px !important;
            line-height: 3px !important;
            padding-left: 35px !important;
            padding-right: 35px !important;
            cursor: pointer !important;
            &:hover {
              background: #c8c8c8;
              color: white;
            }
          }
          textarea {
            overflow: -webkit-paged-x;
            display: block !important;
            width: 100%;
            height: 36px;
            resize: none;
            margin-bottom: 5px;
            cursor: text !important;
            line-height: 36px;
            border: none;
            border-bottom: 1px solid #c8c8c8;
            outline: none;
            font-family: 'Lato', serif;
            font-size: 14px;
          }
        }
      }
      .background-wrapper {
        order: 1;
        width: 100%;
        height: 250px;
        overflow: hidden;
        text-align: center;
      }
      .newsletter-background {
        order: 3;
        position: relative;
        height: 345px;
        margin-bottom: 7px;
        padding-top: 96px;
        margin-top: 30px;
        box-sizing: border-box;
        font-size: 16px;
        background: url(../images/Posts/newsletter.png);
        background-repeat: no-repeat;
        background-position: center;
        font-family: Lato;
      }

      .container-newsletter-wrapper {
        width: 90%;
        height: 250px;
        text-align: center;
        padding-top: 25px;
        margin: 0 auto;
        background: white;
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: -15px;
        }
        span {
          font-size: 14px;
          color: #5e5e5e;
        }
        form {
          margin-top: 15px;
          input {
            width: 170px;
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: text !important;
            line-height: 36px;
            border: none;
            border-bottom: 1px solid #c8c8c8;
            outline: none;
            font-family: 'Lato', serif;
            font-size: 14px;
          }
          button {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .container-posts {
    padding-left: 25px;
    padding-right: 25px;
    .post {
      display: flex;
      flex-direction: column;
      .description {
        order: 1;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 40px;
        .created {
          position: relative;
          padding-bottom: 25px;
          span {
            float: right;
            padding-right: 50px;
          }
          hr {
            position: absolute;
            right: 0;
            top: -4px;
            width: 30px;
          }
        }
        h2 {
          font-size: 15px;
          color: black;
        }
        p {
          font-size: 13px;
        }
        button {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .picture {
        order: 2;
        width: 100%;
        height: 300px;
        position: relative;
        margin-top: 10px;
        overflow: hidden;
        text-align: center;
        img {
          margin-top: -10%;
        }
        &:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 100%;
          left: 50%;
          margin-left: -10px;
          background: white;
          z-index: 2;
        }
      }
    }

    .pagination {
      margin-top: 10px;
      padding-left: 25px;
      .list {
        display: inline-block;
        li {
          display: inline;
          margin-right: 15px;
          font-size: 14px;
        }
      }
      .loading {
        display: inline-block;
        .load {
          padding-left: 17px;
          padding-top: 14px;
          margin-top: 10px;
          span {
            float: left;
            font-size: 14px;
          }
          img {
            float: left;
            height: 12px;
            margin-left: 10px;
            margin-top: -5px;
          }
        }
      }
    }
  }
  .container-facts-wrapper {
    .description {
      margin-top: 20px;
      padding-left: 25px;
      padding-right: 25px;
    }
    .mark {
      display: none;
    }
    .fact-wrapper {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      height: 400px;
      .fact {
        display: block;
        margin: 0 auto;
        margin-top: -150px;
        width: 599px;
      }
    }
  }
  .container-articles {
    margin-bottom: -100px;
    .container-articles-wrapper {
      display: flex;
      flex-direction: column;
      padding-left: 25px;
      padding-right: 25px;
      hr {
        display: none;
      }
      span {
        font-style: italic;
        order: 1;
        font-size: 11px;
      }
      .picture {
        position: relative;
        margin-top: 20px;
        margin-left: -25px;
        margin-right: -25px;
        height: 352px;
        order: 2;
        overflow: hidden;
        img {
          position: absolute;
          left: -250px;
        }
      }
      .description {
        order: 3;
        p {
          margin-top: 30px;
          font-size: 15px;
          color: #3b3b3b;
        }
      }
      .short {
        order: 4;
        z-index: 5;
        h2 {
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 15px;
          font-weight: 600;
          color: black;
        }
        p {
          margin-bottom: 10px;
          font-size: 15px;
        }
        .load {
          padding-left: 17px;
          padding-top: 14px;
          margin-top: 10px;
          span {
            float: left;
            font-size: 12px;
          }
          img {
            float: left;
            height: 12px;
            margin-left: 10px;
            margin-top: -5px;
          }
        }
      }
    }
  }

  .container-newsletter {
    position: relative;
    height: 335px;
    margin-bottom: 7px;
    padding-top: 85px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 16px;
    background: url(../images/Posts/newsletter.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
    .container-newsletter-wrapper {
      width: 90%;
      height: 250px;
      text-align: center;
      padding-top: 25px;
      margin: 0 auto;
      background: white;
      h2 {
        font-size: 16px;
        color: black;
        margin-bottom: -15px;
      }
      span {
        font-size: 14px;
        color: #5e5e5e;
      }
      form {
        margin-top: 15px;
        input {
          width: 170px;
          display: block;
          margin: 0 auto;
          margin-bottom: 5px;
          cursor: text !important;
          line-height: 36px;
          border: none;
          border-bottom: 1px solid #c8c8c8;
          outline: none;
          font-family: 'Lato', serif;
          font-size: 14px;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }


  .container-journey-wrapper {
    display: flex;
    flex-direction: column;
    .text {
      order: 2;
      z-index: 2;
      text-align: center;
      background: #25e1db;

    }
    .journey {
      position: relative;
      overflow: hidden;
      z-index: 1;
      order: 1;
      line-height: 0px;
      margin-bottom: -170px;
      text-align: center;
      img {
        width: 100%;
      }
    }
    .description {
      order: 3;
      margin-top: 20px;
      padding-left: 25px;
      padding-right: 25px;
      h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 600;
      }
      p {
        margin-bottom: 10px;
        font-size: 15px;
      }
      .load {
        padding-left: 17px;
        padding-top: 14px;
        margin-top: 10px;
        span {
          float: left;
          font-size: 12px;
        }
        img {
          float: left;
          height: 12px;
          margin-left: 10px;
          margin-top: -5px;
        }
      }

    }
  }

  .container-instagram-story {
    margin-top: 50px;
    .container-instagram-story-wrapper {
      position: relative;
      padding-left: 25px;
      padding-right: 25px;
      hr {
        position: absolute;
        width: 50px;
        height: 2px !important;
        top: -4px;
        left: 56px;
      }
      .caption {
        text-align: center;
        h1 {
          display: inline;
          font-size: 22px;
          font-weight: bold;
          text-transform: uppercase;
        }
        .h2 {
          position: relative;
          display: block;
          width: 203px;
          text-align: left;
          margin: 0 auto;
          hr {
            left: 56px !important;
          }
          h2 {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .instagram-carousel {
    margin-top: 30px !important;
  }

  .container-footer {
    height: 60px;
    line-height: 60px;
    padding-left: 25px;
    padding-right: 25px;
    .menu {
      .logo {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
      }
      ul {
        display: inline-block;
        margin-left: 40px;
        &.social {
          margin-left: 0;
          float: right;
        }
        li {
          display: inline;
          margin-right: 15px;
          &.big {
            margin-right: 0;
            i {
              font-size: 15px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}